<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0"><%= t 'breadcrumb.costs' %> - <%= t 'activerecord.models.orders' %></h5>
        <ol class="breadcrumbs mb-0">
          <li class="breadcrumb-item"><a href="/"><%= t 'breadcrumb.home' %></a>
          </li>
          <li class="breadcrumb-item">
            <a href="<%= finance_dashboard_orders_path %>"><%= t 'activerecord.models.orders' %></a>
          </li>
          <li class="breadcrumb-item active"><%= t 'breadcrumb.costs' %>
          </li>
        </ol>
      </div>
      <div class="col s2 m6 l6">
        <!-- <a class="btn waves-effect waves-light breadcrumbs-btn right border-round dropdown-settings" href="#!" data-target='dropdown1'><i class="material-icons hide-on-med-and-up">attach_money</i><span class="hide-on-small-only">Order</span></a>
        <ul id='dropdown1' class='dropdown-content'>
          <li><a class="grey-text text-darken-2" href="order-schedule.html"><i class="material-icons left">event</i> Schedule</a></li>
          <li><a class="grey-text text-darken-2" href="order-deposit.html"><i class="material-icons left">archive</i> Deposit</a></li>
        </ul> -->
        <!--        <a class="btn waves-effect waves-light breadcrumbs-btn right mr-2 text-lighten-5 border-round" href="order-view.html"><i class="material-icons hide-on-med-and-up">arrow_back</i><span class="hide-on-small-only">Back to order</span></a>-->

      </div>
    </div>
  </div>
</div>

<div class="col s12">
  <div class="container">
    <div class="row mt-1">
      <div class="col s12 pl-0 pr-0">
        <div class="col s12">
          <ul class="collapsible collapsible-filters">
            <li>
              <div class="collapsible-header" tabindex="0">
                <div class="collapsible-header--title"><i class="material-icons">filter_list</i>Filters</div>
                <div class="order-by">
                  <i class="material-icons">swap_vert</i>
                  <div class="orderby-select">
                    <div class="select-wrapper">
                      <select name="" id="orderby-sort" tabindex="-1">
                        <option value="" disabled="" selected="">Sort by</option>
                        <option value="">Newest</option>
                        <option value="">Oldest</option>
                        <option value="">Order status</option>
                        <option value="">Product status</option>
                        <option value="">Order status</option>
                      </select></div>
                  </div>
                </div>
              </div>
              <div class="collapsible-body grey lighten-5 padding-2">
                <div class="row">
                  <div class="col s12 m6 l3">
                    <p class="font-weight-600"><i class="material-icons left mr-2">assignment_ind</i> Order</p>
                    <div class="row">
                      <div class="col s12 input-field">
                        <input type="text">
                        <label for="">Number</label>
                      </div>
                      <div class="col s12">
                        <label for="">Status</label>
                        <div class="select-wrapper">
                          <select tabindex="-1">
                            <option value="requested">Requested</option>
                            <option value="buyed">Buyed</option>
                            <option selected="selected" value="delivered">Delivered</option>
                            <option value="returned">Returned</option>
                          </select></div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m6 l3">
                    <p class="font-weight-600"><i class="material-icons left mr-2">local_grocery_store</i>Product</p>
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="text" id="autocomplete-input" class="autocomplete-product" data-target="autocomplete-options-dd644166-31dd-128a-a06a-d9eaf3c8db36">
                        <ul id="autocomplete-options-dd644166-31dd-128a-a06a-d9eaf3c8db36" class="autocomplete-content dropdown-content" tabindex="0"></ul>
                        <label for="autocomplete-input">Name</label>
                      </div>
                      <div class="col s12">
                        <label for="">Status</label>
                        <div class="select-wrapper">
                          <select name="" id="" tabindex="-1">
                            <option value="">New</option>
                            <option value="">Delivered</option>
                            <option value="">Finished</option>
                          </select></div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m6 l3">
                    <p class="font-weight-600"><i class="material-icons left mr-2">local_shipping</i>Supplier</p>
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="text" id="autocomplete-input" class="autocomplete-supplier" data-target="autocomplete-options-35174855-6cd8-eadd-cfc2-8011252b451e">
                        <ul id="autocomplete-options-35174855-6cd8-eadd-cfc2-8011252b451e" class="autocomplete-content dropdown-content" tabindex="0"></ul>
                        <label for="autocomplete-input">Name</label>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m6 l3">
                    <p class="font-weight-600"><i class="material-icons left mr-2">widgets</i>Misc</p>
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="text" id="autocomplete-input" class="autocomplete-worker" data-target="autocomplete-options-92442ed7-06b7-4b1f-d03c-90c28ee2c901">
                        <ul id="autocomplete-options-92442ed7-06b7-4b1f-d03c-90c28ee2c901" class="autocomplete-content dropdown-content" tabindex="0"></ul>
                        <label for="autocomplete-input">Worker name</label>
                      </div>
                      <div class="input-field col s12">
                        <input type="text">
                        <label>Client</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col s12">

                    <a class="btn right waves-effect border-round waves-block waves-light" href="#">Filter</a>
                    <a class="btn right border-round btn-secondary mr-2 waves-effect waves-block waves-light sidenav-trigger" href="#">Clear
                      filters</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
            <%# binding.pry %>
          <% @purchases.group_by { |p| p.order }.each do |order| %>
            <%= order.first %>
            <%= order.second %>
            <div class="card-panel">
              <div class="row">
                <div class="order-cost-list dashboard">
                  <div class="oc-supplier">
                    <h6 class="oc-supplier-name">
                      <a class="grey-text text-darken-3" href="#"><%= order.second.first.order.customer.name %> - (ordered: <%= order.second.first.order.start_at.strftime("%m/%d/%Y") %>)<br>#<%= order.first %></a></h6>
                    <div class="oc-supplier-total">$2,201.84</div>
                  </div>
                  <div class="oc-items-header">
                    <div class="header-qty">Qty</div>
                    <div class="header-product">Product</div>
                    <div class="header-price">Price</div>
                    <div class="header-subtotal">Subtotal</div>
                    <div class="header-deliver-date">Delivered</div>
                    <div class="header-status">Status</div>
                  </div>
                  <div class="oc-item">
                    <div class="oc-item-content">
                      <div class="item-qty">13.0</div>
                      <div class="item-product">Engineered Wood, Indusparquet, Smooth, Santos Mahogany, 5" x 1/2",
                        SM12100
                        (30.03 Sf. per box)
                      </div>
                      <div class="item-price">$149.85</div>
                      <div class="item-subtotal">$1,948.05</div>
                      <div class="item-deliver-date">05/20/20</div>
                      <div class="item-status">
                        <div class="select-wrapper">
                          <select tabindex="-1">
                            <option value="requested">Requested</option>
                            <option value="buyed">Buyed</option>
                            <option selected="selected" value="delivered">Delivered</option>
                            <option value="returned">Returned</option>
                          </select></div>
                      </div>
                    </div>
                    <div class="oc-item-actions">
                      <div>
                        <a href="#modal_note_83" class="invoice-action-view modal-trigger" target="_self">
                          <i class="material-icons hide-on-med-and-up">note</i>
                          <span class="hide-on-small-only">New note</span>
                        </a>
                        <a href="#modal_doc_83" class="invoice-action-view modal-trigger" target="_self">
                          <i class="material-icons hide-on-med-and-up">description</i>
                          <span class="hide-on-small-only">New document</span>
                        </a>
                        <a class="sidenav-trigger" href="#">
                          <i class="material-icons hide-on-med-and-up">remove_red_eye</i>
                          <span class="hide-on-small-only">View</span>
                        </a>
                      </div>


                      <div>
                        <a class="modal-trigger tooltipped" data-tooltip="Edit" href="#modal_edit_83">
                          <i class="material-icons">edit</i>
                        </a>
                        <a data-confirm="Are you sure?" target="_self" class="invoice-action-edit mr-4 tooltipped" data-tooltip="Remove" rel="nofollow" data-method="delete" href="/product_purchases/83?redirect=%2Forders%2F48%2Fcosts">
                          <i class="material-icons">delete</i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="oc-item">
                    <div class="oc-item-content">
                      <div class="item-qty">13.0</div>
                      <div class="item-product">Engineered Wood, Indusparquet, Smooth, Santos Mahogany, 5" x 1/2",
                        SM12100
                        (30.03 Sf. per box)
                      </div>
                      <div class="item-price">$149.85</div>
                      <div class="item-subtotal">$1,948.05</div>
                      <div class="item-deliver-date">--</div>
                      <div class="item-status">
                        <div class="select-wrapper">
                          <select tabindex="-1">
                            <option value="requested">Requested</option>
                            <option value="buyed">Buyed</option>
                            <option selected="selected" value="delivered">Delivered</option>
                            <option value="returned">Returned</option>
                          </select></div>
                      </div>
                    </div>
                    <div class="oc-item-actions">
                      <div>
                        <a href="#modal_note_83" class="invoice-action-view modal-trigger" target="_self">
                          <i class="material-icons hide-on-med-and-up">note</i>
                          <span class="hide-on-small-only">New note</span>
                        </a>
                        <a href="#modal_doc_83" class="invoice-action-view modal-trigger" target="_self">
                          <i class="material-icons hide-on-med-and-up">description</i>
                          <span class="hide-on-small-only">New document</span>
                        </a>
                        <a class="sidenav-trigger" href="#">
                          <i class="material-icons hide-on-med-and-up">remove_red_eye</i>
                          <span class="hide-on-small-only">View</span>
                        </a>
                      </div>


                      <div>
                        <a class="modal-trigger tooltipped" data-tooltip="Edit" href="#modal_edit_83">
                          <i class="material-icons">edit</i>
                        </a>
                        <a data-confirm="Are you sure?" target="_self" class="invoice-action-edit mr-4 tooltipped" data-tooltip="Remove" rel="nofollow" data-method="delete" href="/product_purchases/83?redirect=%2Forders%2F48%2Fcosts">
                          <i class="material-icons">delete</i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="oc-item">
                    <div class="oc-item-content">
                      <div class="item-qty">13.0</div>
                      <div class="item-product">Engineered Wood, Indusparquet, Smooth, Santos Mahogany, 5" x 1/2",
                        SM12100
                        (30.03 Sf. per box)
                      </div>
                      <div class="item-price">$149.85</div>
                      <div class="item-subtotal">$1,948.05</div>
                      <div class="item-deliver-date">05/20/20</div>
                      <div class="item-status">
                        <div class="select-wrapper">
                          <select tabindex="-1">
                            <option value="requested">Requested</option>
                            <option value="buyed">Buyed</option>
                            <option selected="selected" value="delivered">Delivered</option>
                            <option value="returned">Returned</option>
                          </select></div>
                      </div>
                    </div>
                    <div class="oc-item-actions">
                      <div>
                        <a href="#modal_note_83" class="invoice-action-view modal-trigger" target="_self">
                          <i class="material-icons hide-on-med-and-up">note</i>
                          <span class="hide-on-small-only">New note</span>
                        </a>
                        <a href="#modal_doc_83" class="invoice-action-view modal-trigger" target="_self">
                          <i class="material-icons hide-on-med-and-up">description</i>
                          <span class="hide-on-small-only">New document</span>
                        </a>
                        <a class="sidenav-trigger" href="#">
                          <i class="material-icons hide-on-med-and-up">remove_red_eye</i>
                          <span class="hide-on-small-only">View</span>
                        </a>
                      </div>

                      <div>
                        <a class="modal-trigger tooltipped" data-tooltip="Edit" href="#modal_edit_83">
                          <i class="material-icons">edit</i>
                        </a>
                        <a data-confirm="Are you sure?" target="_self" class="invoice-action-edit mr-4 tooltipped" data-tooltip="Remove" rel="nofollow" data-method="delete" href="/product_purchases/83?redirect=%2Forders%2F48%2Fcosts">
                          <i class="material-icons">delete</i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>

    </div>

  </div>


</div>

<%= content_for :scripts do %>
  <script>
      $(document).ready(function () {

          $('.modal').modal({
              opacity: .8
          });

          $(".item-status").on("click", function () {
              $(".oc-item").removeClass("dropdown-activated");
              $(this).parent().parent().addClass("dropdown-activated");
          });
          $(".slide-out-right-sidenav").sidenav({
              edge: "right",
              preventScrolling: false
          });

          $(".collapsible-header .order-by").on("click", function (e) {
              return false;
          });

          $(".collapsible-header #orderby-sort").on("change", function (e) {
              e.stopPropagation();
              alert("asd");
              $("form").submit();
          });

          $('input.autocomplete-product').autocomplete({
              data: {
                  "Product 1": null,
                  "Product 2": null,
                  "Product 3": 'https://placehold.it/250x250'
              },
          });
          $('input.autocomplete-supplier').autocomplete({
              data: {
                  "Supplier 1": null,
                  "Supplier 2": null,
                  "Supplier 3": 'https://placehold.it/250x250'
              },
          });
          $('input.autocomplete-worker').autocomplete({
              data: {
                  "Worker 1": null,
                  "Worker 2": null,
                  "Worker 3": 'https://placehold.it/250x250'
              },
          });
      });
  </script>
<% end %>