<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%= t('errors.template.header')  %>:</h5>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label  :name %>
    <%= f.text_field :name %>
    
  </div>

  <div class="input-field">

    <%= f.label  :description %>
    <%= f.text_field :description %>
    
  </div>

  <div class="row">
    <div class="col">
      <a id="check-all" href="javascript:void(0);">Check all</a>
      <a id="uncheck-all" style='display: none' href="javascript:void(0);">Uncheck all</a> 
    </div>
  </div>

  <% @controllers.each do |c| %>
      <div class="card-panel">
        <div class="row">
          <b><%= c[:controller] %></b> <br>
          <% c[:metodos].sort.each do |m| %>
              <div class=" col s6 l2">
                <% if @profile.permissions.present? %>
                    <label><%= check_box_tag "permissoes[#{c[:controller]}][#{m}]",true,@profile.permissions["#{c[:controller]}"].present? ? @profile.permissions["#{c[:controller]}"]["#{m}"].present? ? true : false :false %><span><%= t m  %></span></label>
                <% else %>
                    <label><%= check_box_tag "permissoes[#{c[:controller]}][#{m}]",true,false%><span><%= t m  %></span></label>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
  <% end %>




</div>
  <div class="actions">
    <%= f.submit t('button.save'), class:"btn" %>
  </div>
<% end %>
<% content_for :scripts do %>
  <script>
    $(document).ready(function() {
      $('#check-all').click(function(){
        $(this).hide();
        $('#uncheck-all').show();  
        $("input:checkbox").attr('checked', true);
      });
      $('#uncheck-all').click(function(){
        $(this).hide();
        $('#check-all').show();  
        $("input:checkbox").attr('checked', false);
      });
    });
  </script>
<% end %>