<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0"><span><%= t('activerecord.models.profile') %></span></h5>
        <ol class="breadcrumbs mb-0">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      </div>
      <div class="col s2 m6 l6">
        <%= link_to t('button.all'), profiles_path, class:"btn waves-effect waves-light breadcrumbs-btn right" %>
        <%= link_to edit_profile_path(@profile) , class: "btn-flat waves-effect waves-light breadcrumbs-btn right" do %>
          <i class="material-icons">edit</i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="card-panel">
	
  <p>
    <strong><%= t('activerecord.attributes.profile.name') %>:</strong>
    <%= @profile.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.profile.description') %>:</strong>
    <%= @profile.description %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.profile.permissions') %>:</strong>
    <%= @profile.permissions %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.profile.status') %>:</strong>
    <%= t("#{@profile.status}") %>

  </p>

</div>

