<tr>

  <td><i class="material-icons left"><%= m.icon %></i></td>
  <td><%= m.name %></td>
  <td><%= m.url %></td>
  <td><%= m.parent %></td>
  <td><%= m.profiles.join(",") %></td>
  <td><%= t m.active %></td>
  <td><%= m.position %></td>
  <td>
    <div class="invoice-action right-align">
      <%= link_to new_menu_path(pai: m.id), class: "invoice-action-view mr-4" do %>
        <i class="material-icons">playlist_add</i>
      <% end %>
      <%= link_to m, class: "invoice-action-view mr-4" do %>
        <i class="material-icons">remove_red_eye</i>
      <% end %>
      <%= link_to edit_menu_path(m) , class: "invoice-action-edit mr-4" do %>
        <i class="material-icons">edit</i>
      <% end %>
      <%= link_to m, method: :delete,data: { confirm: "#{t :will_delete}" } ,target:"_self", class: "invoice-action-edit mr-4" do %>
        <i class="material-icons">delete</i>
      <% end %>
    </div>
  </td>
</tr>

<% m.children.order(position: :asc).each do |m| %>
  <%= render partial: "index_tree",  locals: {m: m}, cached: true %>
<% end %>