<!-- List of areas and products of an estimate -->
<% estimate.measurement_proposals.distinct.each do |mp| %>
  <div class="row">
    <div class="col s12">
      <div class="row pl-2 pr-2">
        <span class="mr-1">Selected areas:</span>
        <% mp.measurement_area.each do |ma| %>
          <div class="chip blue white-text"><%= ma.name %></div>
        <% end %>
      </div>
      <table class="striped responsive-table">
        <thead>
        <tr>
          <th>Product</th>
          <th>Qty</th>
          <% if can? :see_price, Estimate %>
            <th>Price Unity</th>
            <th>Discount</th>
            <th class="right-align">Subtotal</th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% mp.product_estimates.each do |pe| %>
          <tr>
            <td><%= pe.product.present? ? pe.product.name : pe.custom_title %></td>
            <td><%= pe.quantity %></td>
            <% if can? :see_price, Estimate %>
              <td><%= pe.unitary_value %></td>
              <td><%= pe.discount %></td>
              <td class=" right-align"><%= number_to_currency pe.value %></td>
            <% end %>
          </tr>
        <% end %>
        <% if can? :see_price, Estimate %>
          <tr class="white">
            <td class="right-align" colspan="100"><strong>Subtotal area:</strong><br><%= number_to_currency mp.product_estimates.sum(:value) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!--          <div class="divider mb-3 mt-3"></div>-->
<% end %>