<ul class="collapsible exp collapsible-areas">
  <li>
    <div class="collapsible-header" tabindex="0"><i class="material-icons">select_all</i><%= t 'areas' %></div>
    <% if estimate.measurement_areas.any? %>
      <div class="collapsible-body pl-2 pr-2 pt-2 pb-2">
        <table class="responsive-table">
          <thead>
          <tr>
            <th></th>
            <% if @hidden_fields['length'].present? %>
              <th><span class="hide-on-med-and-up">L</span>
                <span class="hide-on-small-only"><%= t 'activerecord.attributes.measurements.length' %></span></th>
            <% end %>
            <% if @hidden_fields['width'].present? %>
              <th><span class="hide-on-med-and-up">W</span>
                <span class="hide-on-small-only"><%= t 'activerecord.attributes.measurements.width' %></span></th>
            <% end %>
            <% if @hidden_fields['height'].present? %>
              <th><span class="hide-on-med-and-up">H</span>
                <span class="hide-on-small-only"><%= t 'activerecord.attributes.measurements.height' %></span></th>
            <% end %>
            <% if @hidden_fields['square_feet'].present? %>
              <th><span class="hide-on-med-and-up">Sqft</span>
                <span class="hide-on-small-only"><%= t 'activerecord.attributes.measurements.square_feet' %></span></th>
            <% end %>
            <% if @calculation_formula.present? %>
              <th><span class="hide-on-med-and-up">T</span>
                <span class="hide-on-small-only"><%= @calculation_formula.col_name %></span></th>
            <% end %>
            <th><span class="hide-on-med-and-up"><%= t 'texts.photos' %></span>
              <span class="hide-on-small-only"><%= t 'texts.photos' %></span></th>
          </tr>
          </thead>
          <tbody>
          <% estimate.measurement_areas.each do |ma| %>
            <tr>
              <td><i class="material-icons left mr-4 amber-text">event_seat</i> <%= ma.name %>
                <br><small><%= ma.description %></small></td>
              <% if @hidden_fields['length'].present? %>
                <td><%= ma.measurements[0].length == 0 ? "--" : ma.measurements[0].length %></td>
              <% end %>
              <% if @hidden_fields['width'].present? %>
                <td><%= ma.measurements[0].width == 0 ? "--" : ma.measurements[0].width %></td>
              <% end %>
              <% if @hidden_fields['height'].present? %>
                <td><%= ma.measurements[0].height == 0 ? "--" : ma.measurements[0].height %></td>
              <% end %>
              <% if @hidden_fields['square_feet'].present? %>
                <td><%= ma.measurements[0].square_feet %></td>
              <% end %>

              <% if @calculation_formula.present? %>
                <td><%= @calculation_formula.calculate([ma.id], 1) %></td>
              <% end %>
              <td>
                <% if ma.images.any? %>
                  <a href="#gallery<%= ma.id %>" class="open-gallery-link">
                    <i class="material-icons">perm_media</i>
                  </a>
                  <div id="gallery<%= ma.id %>" class="mfp-hide">
                    <% ma.images.each do |img| %>
                      <a href="<%= img.url %>" title="<%= img.identifier %>"></a>
                    <% end %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% if @calculation_formula.present? %>
            <tr>
              <td><i class="material-icons left mr-4 amber-text">home</i> <%= t 'texts.total' %> <br><small></small>
              </td>
              <% if @hidden_fields['length'].present? %>
                <td><%= estimate.sum_of_measure('length') %></td>
              <% end %>
              <% if @hidden_fields['width'].present? %>
                <td><%= estimate.sum_of_measure('width') %></td>
              <% end %>
              <% if @hidden_fields['height'].present? %>
                <td><%= estimate.sum_of_measure('height') %></td>
              <% end %>
              <% if @hidden_fields['square_feet'].present? %>
                <td><%= estimate.sum_of_measure('square_feet') %></td>
              <% end %>
              <% if @calculation_formula.present? %>
                <td><%= @calculation_formula.calculate(estimate.measurement_areas.map { |a| a.id }, 1) %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>

        </table>

      </div>
    <% else %>
      <div class="collapsible-body center">
        <p><%= t 'texts.estimate.no_area_yet' %></p>
      </div>
    <% end %>
  </li>
</ul>

