<!-- Financial summary of an estimate -->
<ul>
  <li class="display-flex justify-content-between">
    <span class="invoice-subtotal-title"><%= t 'texts.estimate.subtotal' %></span>
    <h6 class="mt-0"><%= number_to_currency estimate.subtotal %></h6>
  </li>
  <li class="display-flex justify-content-between">
    <span class="invoice-subtotal-title"><%= t 'texts.estimate.discount_products' %></span>
    <h6 class="mt-0">- <%= number_to_currency estimate.discounts %></h6>
  </li>
  <li class="display-flex justify-content-between">
    <span class="invoice-subtotal-title"><%= t 'texts.estimate.other_discounts' %></span>
    <h6 class="mt-0"> - <%= number_to_currency estimate.discount %></h6>
  </li>
  <li class="display-flex justify-content-between">
    <span class="invoice-subtotal-title"><%= t 'activerecord.attributes.estimate.tax' %> (<%= t("enumerize.estimate.taxpayer.#{estimate.taxpayer}") if estimate.taxpayer.present?%>)</span>
    <h6 class="mt-0"> <%= number_to_currency estimate.tax || 0 %></h6>
  </li>
  <li class="divider mt-2 mb-2"></li>
  <li class="display-flex justify-content-between">
    <span class="invoice-subtotal-title"><%= t 'texts.estimate.estimate_total' %></span>
    <h6 class="mt-0"><%= number_to_currency estimate.total %></h6>
  </li>
</ul>