<div class="row">
  
    <div class="input-field col s12 m3">
      <%= f.text_field :code, value: @estimate.code, class: "validade", readonly: 'true' %>
      <%= f.label  :code %>
    </div>

    <div class="input-field col s12 m9">
      <%= f.text_field :title, class: "validade", autofocus: 'true' %>
      <%= f.label  :title %>
    </div>
    <div class="input-field col s12 m4">
      <i class="material-icons prefix">location_on</i>
      <%= f.text_field :location, class: "autocomplete autocomplete-location", placeholder: '' %>
      <%= f.label  :location %>

      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
    </div>
    <div class="input-field col s12 m8">
      <%= f.text_field :description, class: "validade" %>
      <%= f.label  :description %>
    </div>
    
    <div class="col s12 m4">
      <div class="input-field">
        <%= f.select :sales_person_id, @workers, {prompt: true}, :selected => @estimate.sales_person_id  %>
        <%= f.label  :sales_person_id %>
      </div>
    </div>
    
</div>