<%= content_for :head_content do %>
  <style>
    .disabled-sign {
      background-color: #DDD !important;
      color: #999;
      box-shadow: none !important;
    }
  </style>
<% end %>

  <div class="card-panel">
    <%= render 'layouts/document_top' %>
    <div class="invoice-title-bar">
      <h6><%= t 'activerecord.models.estimate' %></h6>
      <div class="invoice-title-details">
        <span>Nº #<%= @estimate.code %></span><br>
        <span><%= @estimate.created_at %></span>
      </div>
    </div>

    <div class="row">
      <div class="col s12"></div>
    </div>
    <%= render partial: "layouts/document_customer", locals: {estimate: @estimate} %>

    <div class="invoice-title-bar">
      <div class="fas" aria-hidden="true">

        <img src="/materialize/images/icon/map-marked-alt-solid.svg" alt="">
      </div>
      <h6><%= t 'texts.estimate.job_location' %>:</h6>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="invoice-address">
          <span><%= @estimate.location %></span>
        </div>
      </div>
    </div>

    <div class="invoice-title-bar">
      <div class="fas" aria-hidden="true">

        <img src="/materialize/images/icon/ruler-combined-solid.svg" alt="">
      </div>
      <h6><%= t 'activerecord.models.measurements' %>:</h6>
    </div>
    <div class="row">
      <div class="col s12">
        <table>
          <thead>
          <th><%= t 'area' %></th>
          <% if @hidden_fields['length'].present? %>
            <th><%= t 'activerecord.attributes.measurement.length' %></th>
          <% end %>
          <% if @hidden_fields['width'].present? %>
            <th><%= t 'activerecord.attributes.measurement.width' %></th>
          <% end %>
          <% if @hidden_fields['height'].present? %>
            <th><%= t 'activerecord.attributes.measurement.height' %></th>
          <% end %>
          <% if @hidden_fields['square_feet'].present? %>
            <th><%= t 'activerecord.attributes.measurement.square_feet' %></th>
          <% end %>
          </thead>
          <tbody>
          <% @estimate.measurement_areas.each do |ma| %>
            <tr>
              <td><%= ma.name %></td>
              <% if @hidden_fields['length'].present? %>
                <td><%= ma.measurements.first.length %></td>
              <% end %>
              <% if @hidden_fields['width'].present? %>
                <td><%= ma.measurements.first.width %></td>
              <% end %>
              <% if @hidden_fields['height'].present? %>
                <td><%= ma.measurements.first.height %></td>
              <% end %>
              <% if @hidden_fields['square_feet'].present? %>
                <td><%= ma.measurements.first.square_feet %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mb-3 mt-3"></div>
    <div class="invoice-title-bar">
      <div class="fas" aria-hidden="true">

        <img src="/materialize/images/icon/dolly-solid.svg" alt="">
      </div>
      <h6><%= t 'texts.estimate.products_or_services_label' %>:</h6>
    </div>
    <% @estimate.measurement_proposals.distinct(:id).each do |mp| %>
      <div class="row">
        <div class="col s12">
          <div class="row pl-2 pr-2">
            <span class="mr-1"><%= t 'texts.estimate.selected_areas' %>:</span>
            <% mp.measurement_area.each do |ma| %>
              <div class="chip"><%= ma.name %></div>
            <% end %>
          </div>
          <div class="row pl-2 pr-2 mb-2">
            <b><%=mp.title  %></b>
          </div>
          <table class="responsive-table">
            <thead>
            <tr>
              <th><%= t 'activerecord.models.product' %></th>
              <th><%= t 'activerecord.attributes.product_estimate.quantity' %></th>
              <th><%= t 'activerecord.attributes.product_estimate.unitary_value' %></th>
              <th><%= t 'activerecord.attributes.product_estimate.discount' %></th>
              <th class="right-align"><%= t 'texts.estimate.subtotal' %></th>
            </tr>
            </thead>
            <tbody>
            <% mp.product_estimates.each do |pe| %>
              <tr>
                <td><%= pe.product.present? ? pe.product.name : pe.custom_title %></td>
                <td><%= pe.quantity %></td>
                <td><%= number_to_currency(pe.unitary_value) %></td>
                <td><%= number_to_currency(pe.discount) %></td>
                <td class=" right-align"><%= number_to_currency(pe.value) %></td>
              </tr>
            <% end %>
            <tr class="white">
              <td class="right-align" colspan="100"><strong><%= t 'texts.estimate.subtotal_area' %>:</strong> <br> <%= number_to_currency(mp.product_estimates.sum(:value)) %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>



    <div class="row mt-4">
      <div class="col m5 s12">
        <!-- <p>Thanks for your business.</p> -->
      </div>
      <div class="col xl4 m7 s12 offset-xl3">
        <ul>
          <li class="display-flex justify-content-between">
            <span class="invoice-subtotal-title"><%= t 'texts.estimate.subtotal' %>:</span>
            <h6 class="mt-0"><%= number_to_currency @estimate.subtotal %></h6>
          </li>
          <li class="display-flex justify-content-between">
            <span class="invoice-subtotal-title"><%= t 'texts.estimate.discount_products' %>:</span>
            <h6 class="mt-0">- <%= number_to_currency @estimate.discounts %></h6>
          </li>
          <li class="display-flex justify-content-between">
            <span class="invoice-subtotal-title"><%= t 'texts.estimate.other_discounts' %>:</span>
            <h6 class="mt-0">- <%= number_to_currency @estimate.discount %></h6>
          </li>
          <% if @estimate.customer? %>
          <li class="display-flex justify-content-between">
            <span class="invoice-subtotal-title"><%= t 'activerecord.attributes.estimate.tax' %>:</span>
            <h6 class="mt-0"><%= @estimate.tax %></h6>
          </li>
          <% end %>
          <li class="divider mt-2 mb-2"></li>
          <li class="display-flex justify-content-between">
            <span class="invoice-subtotal-title"><%= t 'texts.estimate.estimate_total' %>:</span>
            <h6 class="mt-0"><%= number_to_currency @estimate.total %></h6>
          </li>
        </ul>
      </div>
    </div>
    <p>&nbsp;</p>
    <%= raw Setting.get_value("estimate_notes") %>
    <% if @notes.present? %>
      <p><b><%= t('texts.estimate_notes') %>:</b></p>
      <ol>
        <% @notes.each do |note| %>
          <li>
            <b><%= note.title %></b>: <br>
            <%= note.text %>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
  <div class="card-panel">
    <% if !@view.present? %>
      <p> <b><%= t 'activerecord.models.signature' %></b></p>
    <% else %>
      <p> <b><%= t 'signed_at' %> <%= "#{DateTime.now}" %></b></p>
    <% end %>
    <p class="m-0 red-text" id="msg-sign">Please, draw your signature in the box below</p>
    <div class="row">
      <div class="col s12">
        <% if !@view.present? %>
          <%= form_with url: create_sign_signatures_path, id: 'create_sign' do |f| %>

            <%= f.hidden_field "signature[sign]", value: true %>
            <%= f.hidden_field "signature[origin]", value: "Estimate" %>
            <%= f.hidden_field "signature[origin_id]", value: @estimate.id %>

            <input type="hidden" id="signature_file" value="" name="signature[file]">
            <canvas id="signature-pad" class="signature-pad" width=700 height=200 style="border:1px solid #000000;"></canvas>
            <br>
            <button id="clear" disabled class="btn" type="button" ><%= t 'clear' %></button>
            <%= f.submit "Sign", id: 'sign', class:"btn green disabled-sign" %>
            <button id="decline" class="btn white red-text right modal-trigger" data-target="modal-decline" type="button" ><%= t 'button.decline' %></button>

          <% end %>
        <% else %>
          <img style="width: 688px; height: 80px; max-width: 100%" src="<%= $temp_img   %>" >
          <!--          <p><%#= DateTime.now %></p>-->
        <% end %>
      </div>
    </div>
  </div>

  <div id="modal-decline" class="modal modal-fixed-footer">
    <%= form_with url: decline_estimate_estimate_path(@estimate), method: :get, local: true do |f| %>
      <div class="modal-content">
        <div class="row">
          <div>
            <h5>Why wouldn't you like to accept this estimate?</h5>
          </div>
          <div class="input-field">
            <%= f.text_area :reason, required: true, class: 'materialize-textarea' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="left modal-action modal-close waves-effect waves-green btn-flat" type="button">
          <i class="material-icons left">close</i><%= t "button.close" %>
        </button>
        <%= f.button :submit, class:"modal-action waves-effect waves-green btn-flat" do %>
          <i class="material-icons left">send</i> <%= t 'button.send' %>
        <% end %>
      </div>
    <% end %>
  </div>

<%= content_for :scripts do %>
  <!--https://gasparesganga.com/labs/jquery-loading-overlay/#quick-demo -->
  <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
  <script>
    // function loading_()
    // {
    //     // $.LoadingOverlay("show");//,{image: "/loading.gif",}
    // }




      $(document).ready(function(){

          $('.chips').chips();

          $('.modal').modal({
              opacity: .8
          });

          $(document).on('click', '.modal-action.btn-send', function(){

          })
      });
  </script>
<% end %>

<%= content_for :scripts do %>
  <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>

  <script type="text/javascript" charset="utf-8">



      var canvas = document.getElementById('signature-pad');

      window.onresize = resizeCanvas;
      resizeCanvas();

      var signaturePad = new SignaturePad(canvas, {
          backgroundColor: 'rgb(255, 255, 255)', // necessary for saving image as JPEG; can be removed is only saving as PNG or SVG
          onEnd: function(){
              var data = this.toDataURL();
              $("#signature_file").val(data);
          }
      });

      // function endDraw()
      // {
      //     var data = signaturePad.toDataURL('image/png');
      //     $("#signature_file").val(data);
      // }

      function resizeCanvas() {
          // When zoomed out to less than 100%, for some very strange reason,
          // some browsers report devicePixelRatio as less than 1
          // and only part of the canvas is cleared then.
          var ratio =  Math.max(window.devicePixelRatio || 1, 1);
          canvas.width = canvas.offsetWidth * ratio;
          canvas.height = canvas.offsetHeight * ratio;
          canvas.getContext("2d").scale(ratio, ratio);
      }

      document.getElementById('clear').addEventListener('click', function () {
          signaturePad.clear();
          $("#signature_file").val("");

          $('#clear').prop('disabled', true);
          $('#sign').addClass('disabled-sign');
      });

      signaturePad.onBegin = function() {
          $('#msg-sign').hide();
          $('#clear').prop('disabled', false);
          $('#sign').removeClass('disabled-sign');
      };

      $("#create_sign").submit(function(e){
          if (signaturePad.isEmpty()){
              $('#msg-sign').show();
              return false;
          }else{
              // assinou
              $.LoadingOverlay("show");
              return true;
          }
      });

  </script>
<% end %>