<div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
			<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
				<!-- Search for small screen-->
				<div class="container">
					<div class="row">
						<div class="col s10 m6 l6">
							<h5 class="breadcrumbs-title mt-0 mb-0"><span><%= t('activerecord.models.estimates') %></span></h5>
							<ol class="breadcrumbs mb-0">
								<li class="breadcrumb-item"><a href="/"><%= t('home') %></a>
								</li>
								<li class="breadcrumb-item"><a href="#"><%= t('activerecord.models.estimates') %></a>
								</li>
								<li class="breadcrumb-item active"><%= t('breadcrumb.list') %>
								</li>
							</ol>
						</div>
						<div class="col s2 m6 l6"><a class="btn waves-effect waves-light breadcrumbs-btn right border-round" href="<%= new_estimate_path %>"><i class="material-icons hide-on-med-and-up">add</i><span class="hide-on-small-only"><%= t("button.add")  %> <%= t('activerecord.models.estimate') %></span></a>
						</div>
					</div>
				</div>
			</div>

<section class="invoice-list-wrapper section">
  <!-- create invoice button-->
  <!-- Options and filter dropdown button-->
  <div class="invoice-filter-action mr-3">
    <div class="row">
    <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <div class="col s9 m11">
          <%= f.search_field :code_cont, placeholder: t('placeholder.search'), class: "search-ransack" %>     
      </div>
      <div class="col s3 m1">
				<button type="submit" class="btn-floating mb-1 waves-effect waves-light rigth">
					<i class="material-icons">search</i>
				</button>
      </div>
    <% end %>
    </div>
  </div>
  <p></p>
  <!-- create invoice button-->
  <div class="responsive-table">
    <style>td{padding: 15px}</style>
    <table class="table invoice-data-table white border-radius-4 pt-1">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.estimate.code') %></th>
          <th><%= t('activerecord.attributes.estimate.title') %></th>
          <th><%= t('activerecord.attributes.estimate.worker') %></th>
          <th><%= t('activerecord.attributes.estimate.status') %></th>
          <th><%= t('activerecord.attributes.estimate.description') %></th>
          <th><%= t('activerecord.attributes.estimate.location') %></th>
          <th><%= t('activerecord.attributes.estimate.latitude') %></th>
          <th><%= t('activerecord.attributes.estimate.longitude') %></th>
          <th><%= t('activerecord.attributes.estimate.category') %></th>
          <th><%= t('activerecord.attributes.estimate.order') %></th>
          <th><%= t('activerecord.attributes.estimate.price') %></th>
          <th><%= t('activerecord.attributes.estimate.tax') %></th>
          <th><%= t('activerecord.attributes.estimate.tax_calculation') %></th>
          <th><%= t('activerecord.attributes.estimate.lead') %></th>
          <th><%= t('activerecord.attributes.estimate.bpmn_instance') %></th>
          <th><%= t('activerecord.attributes.estimate.current') %></th>
          <th><%= t('activerecord.attributes.estimate.total') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @estimates.each do |estimate| %>
        <tr>
            <td><%= estimate.code %></td>
            <td><%= estimate.title %></td>
            <td><%= estimate.worker %></td>
            <td><%= estimate.status %></td>
            <td><%= estimate.description %></td>
            <td><%= estimate.location %></td>
            <td><%= estimate.latitude %></td>
            <td><%= estimate.longitude %></td>
            <td><%= estimate.category %></td>
            <td><%= estimate.order %></td>
            <td><%= estimate.price %></td>
            <td><%= estimate.tax %></td>
            <td><%= estimate.tax_calculation %></td>
            <td><%= estimate.lead %></td>
            <td><%= estimate.bpmn_instance %></td>
            <td><%= estimate.current %></td>
            <td><%= estimate.total %></td>
          <td>
            <div class="invoice-action right-align">
              <%= link_to estimate, class: "invoice-action-view mr-4" do %>
                <i class="material-icons">remove_red_eye</i>
              <% end %>
              <%= link_to edit_estimate_path(estimate) , class: "invoice-action-edit mr-4" do %>
                <i class="material-icons">edit</i>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate(@estimates)  %>
</section>
