<div class="row">
  <div class="content-wrapper-before woffice-color"></div>
  <div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s10 m6 l6">
          <h5 class="breadcrumbs-title mt-0 mb-0">Estimate Products</h5>
          <ol class="breadcrumbs mb-0">
            <%= render_breadcrumbs :tag => :li, :separator => "" %>
          </ol>
        </div>
      <!-- <div class="col s2 m6 l6"><a class="btn waves-effect waves-light breadcrumbs-btn right" href="lead-add.html"><i class="material-icons hide-on-med-and-up">add</i><span class="hide-on-small-only">New Estimate</span></a> -->
      </div>
    </div>
  </div>
  
  <div id="react-component"></div>
  <div id="modal-areas" class="modal modal-fixed-footer">

      <div class="modal-content">
        <ul class="">
          <li>
            <div class=" grey lighten-4 pl-2 pr-2 pt-2 pb-2">
              <div class="row">
                <% @estimate.measurement_areas.each do |ma| %>
                  <div class="col s12 l6">
                    <div class="card-panel pt-3 pb-3">
                      <div class="row center-align">
                        <h6
                          class="col s12 pl-0 pt-0 mt-0 font-weight-600 display-flex align-items-center justify-content-center">
                          <i class="material-icons left">event_seat</i>
                          <%= ma.name %>
                        </h6>
                        <%# <div class="row mb-2">
															<div class="col s12">
																Open kitchen included
															</div>
														</div> %>
                        <div class="col s3">
                          <!-- length -->
                          <i class="material-icons left width-100">straighten</i><%= ma.measurements[0].length %>
                        </div>
                        <div class="col s3">
                          <!-- width -->
                          <i class="material-icons left width-100" style="transform: rotate(-45deg)">straighten</i><%= ma.measurements[0].width %>
                        </div>
                        <div class="col s4">
                          <!-- height -->
                          <i class="left width-100">SqFt</i><%= ma.measurements[0].square_feet %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
              <div class="row">
                <div class="col s12">
                  <h6 class="font-weight-600">Total Square Feet: <%= @estimate.sum_square_feet[0].total %></h6>
                </div>
              </div>
          </li>
        </ul>
      </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
</div>

<%= content_tag :div,
  id: "data",
  estimate_data: @estimate.to_json,
  products: @products.to_json do %>
<% end %>

<%= render 'new_product', product: Product.new %>

<%= javascript_pack_tag 'estimate/index.js' %>

<%= content_for :scripts do %>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elemsModal = document.getElementById('product-add-modal');
      
      instanceModal = M.Modal.init(elemsModal, {})
    });

    document.getElementById("new_product").addEventListener("submit", function () {
      $("#product_name").val("")
      $("#product_uuid").val("")
      $("#product_details").val("")
      $("#product_product_category_id").val("").change()
      $("#product_product_category_id").formSelect()
      $("#product_supplier_id").val("").change()
      $("#product_supplier_id").val("").formSelect()
      $("#product_calculation_formula_id").val("").change()
      $("#product_calculation_formula_id").val("").formSelect()
      $("#product_customer_price").val("")
      $("#product_cost_price").val("")
      $("#product_area_covered").val("")
      $("#product_photo").val("")
      $("#product_tax").val("")
      $("#product_bpm_purchase").val("")
    });
  
    // $(document).ready(function(){
      

    //   function runAutocomplete(){
    //     const
    //     data = {}
    //     products.map(product => {
    //       data[product.name] = null
    //     })
    //     $('input.autocomplete.autocomplete-products').autocomplete({
    //       data,
    //       onAutocomplete: (val) => {
    //         console.log(this)
    //       }
    //     });
    //   }
    //   runAutocomplete();
    // })
  </script>
<% end %>