<div class="row">
  <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
  <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
    <div class="container">
      <div class="row">
        <div class="col s10 m6 l6">
          <h5 class="breadcrumbs-title mt-0 mb-0">Estimate Products</h5>
          <ol class="breadcrumbs mb-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="#">Estimates</a>
            </li>
            <li class="breadcrumb-item"><a href="#">New</a>
            </li>
            <li class="breadcrumb-item active">Products
            </li>
          </ol>
        </div>
      <!-- <div class="col s2 m6 l6"><a class="btn waves-effect waves-light breadcrumbs-btn right" href="lead-add.html"><i class="material-icons hide-on-med-and-up">add</i><span class="hide-on-small-only">New Estimate</span></a> -->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="container">
      <%= render 'estimate_detail', estimate: @estimate %>
        <div class="card">
          <div class="card-content">
            <ul class="stepper horizontal stepper-head-only">
              <li class="step">
                <div class="step-title waves-effect">Step 1</div>
              </li>
              <li class="step ">
                <div class="step-title waves-effect">Schedule</div>
              </li>
              <li class="step">
                <div class="step-title waves-effect">Measurements</div>
              </li>
              <li class="step active">
                <div class="step-title waves-effect">Products</div>
              </li>
            </ul>

            <div class="row products-area-list pl-1 pr-1">

              <div class="product-area">
                <a href="#" class="btn-close-product-area"><i class="material-icons">close</i></a>
                <div class="areas-available col s12">
                  <span>Areas:</span>
                  <% @estimate.measurement_areas.each do |area| %>
                    <div class="chip" id="area_<%= area.id %>"><%= area.name %></div>
                  <% end %>
                  <a href="#" class="select-all-areas">Select all</a>
                </div>
                <div class="products-list">
                  <div class="product">
                    <div class="row pl-1 pr-1 products-search">
                      
                    </div>


                  </div>
                  <div class="product new-product">
                    <div class="row pl-1 pr-1 products-search">
                      <div class="row">
                        <div class="col s6 m4">
                          <div class="input-field mt-0 mb-0 products-search-field-box">
                            <a href="#add-product-modal" class="btn-add-product modal-trigger tooltipped" data-tooltip="New product"><i class="material-icons">add</i></a>
                            <input placeholder="" id="title" type="text" class="autocomplete autocomplete-products mt-1">
                          </div>
                        </div>
                        <div class="col s6 m2 calc-fields">
                          <input placeholder="" id="qty" type="text" class="product-value qty" value="">
                        </div>
                        <div class="col s6 m2 calc-fields">
                          <input placeholder="" id="title" type="text" class="product-value price" value="">
                        </div>
                        <div class="col s6 m2 calc-fields">
                          <input placeholder="" id="title" type="text" class="product-value discount" value="">
                        </div>
                        <div class="col s6 m2 calc-fields">
                          <input placeholder="" id="total_1" type="text" class="product-value total" disabled value="">
                          <a href="#" class="btn-remove-product"><i class="material-icons">delete</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="products-suggestions hide">
                  <h6 class="suggestions-title">Suggestions</h6>
                  <a href="#" data-price="56.9" data-qty="3">Product with a big name</a>
                  <a href="#" data-price="23.1" data-qty="1">Product Y</a>
                  <a href="#" data-price="23.1" data-qty="1">Product Y2</a>
                  <a href="#" data-price="23.1" data-qty="1">Product Y3</a>
                  <a href="#" data-price="23.1" data-qty="1">Product Y5</a>
                </div>
              </div>

            </div>
            <div class="row mt-1 pl-1">
              <a href="#" class="btn btn-add-product-area"><i class="material-icons left">add</i> Add area</a>
            </div>
          </div>

        </div>
        <div class="col s12 pb-2 pr-0 pl-0" style="position: relative; z-index: -1">
          <a class="btn grey lighten-5 grey-text waves-effect waves-light breadcrumbs-btn left save" href="estimate-measurements.html"><i class="material-icons left">arrow_back</i> Back</a>
          <a class="btn indigo waves-effect waves-light breadcrumbs-btn right ml-1" href="estimate-view.html"><i class="material-icons left">save</i> Save</a>
        </div>
    </div>
  </div>
</div>
<%= content_for :scripts do %>
  <%= javascript_pack_tag 'estimate/products', 'data-turbolinks-track': 'true' %>
<% end %>