<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
	<!-- Search for small screen-->
	<div class="container">
		<div class="row">
			<div class="col s10 m6 l6">
				<h5 class="breadcrumbs-title mt-0 mb-0"><span><%= t('activerecord.models.estimates') %></span></h5>
				<ol class="breadcrumbs mb-0">
					<li class="breadcrumb-item"><a href="/"><%= t('home') %></a>
					</li>
					<li class="breadcrumb-item">
            <%= link_to estimates_path do %>
              <%= t('activerecord.models.estimates') %>
            <% end %>
          </li>
					<li class="breadcrumb-item active"><%= t('breadcrumb.new') %>
					</li>
				</ol>
			</div>
			<div class="col s2 m6 l6">
				<%= link_to t('button.all'), estimates_path, class:"btn waves-effect waves-light breadcrumbs-btn right" %>
			</div>
		</div>
	</div>
</div>

<div class="section">
  <%= render 'leads/lead_detail', lead: @lead %>

  <div class="card">
    <div class="card-content">
      <ul class="stepper horizontal stepper-head-only">
        <li class="step active">
          <div class="step-title waves-effect">Step 1</div>
        </li>
        <li class="step">
          <div class="step-title waves-effect">Schedule</div>
        </li>
        <li class="step">
          <div class="step-title waves-effect">Measurements</div>
        </li>
        <li class="step">
          <div class="step-title waves-effect">Products</div>
        </li>
      </ul>
      <%= render 'step_one_form', estimate: @estimate %>
</div>

<%= javascript_pack_tag 'materialize-stepper', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'estimate/step_one', 'data-turbolinks-track': 'reload' %>
