<%= content_for :head_content do %>
  <link rel="stylesheet" type="text/css" href="/css/mysqpaymentform.css">
  <link rel="stylesheet" type="text/css" href="/css/woffice-style.css">
<% end %>

<div class="card-panel">

  <div class="row">
    <div class="col s12">
      <h4><%= t 'texts.square_api.thank_you' %></h4>
      <p><%= t 'texts.square_api.your_data_recorded_securely' %></p>
      <p><%= t 'texts.square_api.we_will_not_have_access_to_your_credit_card_details' %></p>
      <p><%= t 'texts.square_api.questions_contact_us' %></p>
      <p><%= t 'texts.square_api.thanks_for_the_deal' %></p>
      <p></p>
      <p><%= t 'texts.square_api.best_regards' %></p>
      <p><%= Setting.get_value('company_name') %></p>
    </div>
  </div>
</div>

<div class="center"><%= t 'texts.layout.powered_by' %> <a href="https://www.woffice.app"><img src="/woffice.svg" alt="" width="60px"></a> <%= t 'texts.square_api.with_partnership_with' %>
  <a href="https://squareup.com/t/f_partnerships/p_Novostek/l_us?route=signup"><img src="/square_name.svg" alt="" width="60px"></a> </div>