<div class="row m-area pt-1 mt-2 nested-fields">
  <a href="#" class="btn-close-area"><i class="material-icons">close</i></a>
  <div class="m-area--info">
    <div class="input-field col s12 m6 l3">
      <%= f.text_field :name, class: "validade", autofocus: 'true' %>
      <%= f.label  :name %>
    </div>
    <div class="input-field col s12 m6 l3">
      <%= f.text_field :description, class: "validade" %>
      <%= f.label  :description %>
    </div>
  </div>
  <div class="m-area--measures measurements">
    <%= f.fields_for :measurements do |m| %>
      <div class="input-field col s12 m4 l2">
        <%= m.text_field :length, class: "validade" %>
        <%= m.label  :length %>
      </div>
      <div class="input-field col s12 m4 l2">
        <%= m.text_field :width, class: "validade" %>
        <%= m.label  :width %>
      </div>
      <div class="input-field col s12 m4 l2">
        <%= m.text_field :height, class: "validade" %>
        <%= m.label  :height %>
      </div>
    <% end %>
  </div>
  
</div>