
<div class="m-area--measures nested-fields">
  <% if @hidden_fields['length'].present? %>
    <div class="input-field">
      <%= m.number_field :length, min: 0, onkeyup: "calc_square_feet(event)",  class: "validade", step: 0.001 %>
      <%= m.label  :length %>
    </div>
  <% end %>
  <% if @hidden_fields['width'].present? %>
    <div class="input-field">
      <%= m.number_field :width, min: 0, onkeyup: "calc_square_feet(event)",  class: "validade", step: 0.001 %>
      <%= m.label  :width %>
    </div>
  <% end %>
  <% if @hidden_fields['height'].present? %>
    <div class="input-field">
      <%= m.number_field :height, min: 0, onkeyup: "calc_square_feet(event)",  class: "validade", step: 0.001 %>
      <%= m.label  :height %>
    </div>
  <% end %>
  <% if @hidden_fields['square_feet'].present? %>
    <div class="input-field">
      <%= m.number_field :square_feet, min: 0, class: "validade square_feet", step: 0.001 %>
      <%= m.label  :square_feet, class: "active" %>
      <a class="waves-effect waves-light btn right modal-trigger" onclick="calculate_areas(event)" href="#area_modal">Calculate Areas</a>
    </div>
    <%# TODO
      Só é preciso uma única div
      Carregar o form da div a partir do hidden de measures
      salvar todos os dados de uma vez ao der o "OK" na modal
     %>
    <%= m.hidden_field :measures %>
  <% end %>
</div>