<div class="row m-area pt-1 mt-2 nested-fields">
  <%# <a href="#" class="btn-close-area"><i class="material-icons">close</i></a> %>
  <%= link_to_remove_association f, class: "btn-close-area", data: {confirm: t('delete.measures')} do %>
    <i class="material-icons">close</i>
  <% end %>
  <div class="m-area--info">
    <div class="input-field col s12 m6 l3">
      <%= f.text_field :name, class: "validade", autofocus: 'true' %>
      <%= f.label  :name %>
    </div>
    <div class="input-field col s12 m6 l3">
      <%= f.text_field :description, class: "validade" %>
      <%= f.label  :description %>
    </div>
  </div>
  <%= f.fields_for :measurements, f.object.new_record? ? f.object.measurements.build : f.object.measurements do |measures| %>
    <%= render 'measurement_fields', m: measures %>
  <% end %>
</div>