
<div class="m-area--measures nested-fields">
  <% if @hidden_fields['length'].present? %>
    <div class="input-field">
      <%= m.number_field :length, min: 0, onkeyup: "calc_square_feet(event)",  class: "validade", step: 0.001 %>
      <%= m.label  :length %>
    </div>
  <% end %>
  <% if @hidden_fields['width'].present? %>
    <div class="input-field">
      <%= m.number_field :width, min: 0, onkeyup: "calc_square_feet(event)",  class: "validade", step: 0.001 %>
      <%= m.label  :width %>
    </div>
  <% end %>
  <% if @hidden_fields['height'].present? %>
    <div class="input-field">
      <%= m.number_field :height, min: 0, onkeyup: "calc_square_feet(event)",  class: "validade", step: 0.001 %>
      <%= m.label  :height %>
    </div>
  <% end %>
  <% if @hidden_fields['square_feet'].present? %>
    <div class="input-field">
      <%= m.number_field :square_feet, min: 0, class: "validade", step: 0.001 %>
      <%= m.label  :square_feet, class: "active" %>
    </div>
  <% end %>
</div>