<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= t 'bpm.woffice_bpmn_editor' %></title>
  <link rel="apple-touch-icon" href="/materialize/images/favicon/apple-touch-icon-152x152.png">
  <link rel="shortcut icon" type="image/x-icon" href="/materialize/images/favicon/favicon-32x32.png">
  <link rel="stylesheet" type="text/css" href="/materialize/css/themes/vertical-modern-menu-template/materialize.css">
  <link rel="stylesheet" type="text/css" href="/materialize/css/themes/vertical-modern-menu-template/style.css">
  <link rel="stylesheet" type="text/css" href="/materialize/css/custom/custom.css">
  <link rel="stylesheet" href="/editorjs/dist/css/diagram-js.css" />
  <link rel="stylesheet" href="/editorjs/dist/vendor/bpmn-font/css/bpmn-embedded.css" />
  <link rel="stylesheet" href="/editorjs/dist/css/app.css" />
  <style>
    ul.bpp-properties-tabs-links{
      margin: 0px !important;
    }
    .content.with-diagram .properties-panel-parent {
      background-color: #f9f9f9;
      display: block;
    }
    select{
      display: block !important;
    }
    .djs-palette {
      left: 70px !important;
    }

    #btns{
      padding-left: 50px;
    }
      .with-diagram{
        background: white;
      }

      .btn-save{
        color: white !important;
        background-color: #0a6aa1 !important;
        opacity: 1 !important;

      }
  </style>

</head>
<body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu preload-transitions 2-columns   menu-collapse" data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">
<%= render 'layouts/navside' %>
  <div class="content with-diagram" id="js-drop-zone">
    <input type="hidden" id="url" value="<%= @url %>">
    <input type="hidden" id="url_deploy" value="/bpmn_editor/deploy">
    <div class="message intro">
      <div class="note">
        <h2 class="center"><%= t 'bpm.woffice_bpmn_editor' %></h2>
        <%= t 'bpm.drop_bpmn_diagram_from_your_desktop_or' %> <a id="js-create-diagram" href><%= t 'bpm.edit_current_diagram' %></a> <%= t 'bpm.to_get_started' %>
      </div>
    </div>

    <div class="message error">
      <div class="note">
        <p><%= t 'bpm.we_could_not_display_bpmn_2_0_diagram' %></p>

        <div class="details">
          <span><%= t 'bpm.import_error_details' %></span>
          <pre></pre>
        </div>
      </div>
    </div>

    <div class="canvas" id="js-canvas"></div>
    <div class="properties-panel-parent" id="js-properties-panel"></div>
  </div>
  <ul class="buttons" id="btns">
    <li>
      <%= t 'bpm.download' %>
    </li>
    <li>
      <a id="js-download-diagram" href title="<%= t 'bpm.download' %> <%= t 'bpm.bpmn_diagram' %>">
        <%= t 'bpm.bpmn_diagram' %>
      </a>
    </li>
    <li>
      <a id="js-download-svg" href title="<%= t 'bpm.download' %> <%= t 'bpm.as_svg_image' %>">
        <%= t 'bpm.svg_image' %>
      </a>
    </li>
    <li>
      <a id="saveXml" class="btn-save">
        <%= t 'bpm.deploy_to_production' %>
      </a>
    </li>
  </ul>


<script src="/editorjs/dist/index.js"></script>
<script src="/materialize/js/vendors.min.js"></script>
<script src="/materialize/js/plugins.js"></script>
<script src="/materialize/js/search.js"></script>
<script src="/materialize/js/custom/custom-script.js"></script>
<script type="text/javascript" charset="utf-8">
  setTimeout(
      function(){

      },300
  )
</script>
</body>
</html>
