<%= form_for(customer, authenticity_token: true, remote: true) do |f| %>
  <div id="customer-add-modal" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h4>New customer</h4>
      <% if customer.errors.any? %>
        <div id="error_explanation" class="card-panel red white-text">
          <h5><%= t('errors.template.header')  %>:</h5>

          <ul>
          <% customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class=" col s12">
          <%= f.label :name, id: 'customer_name_label', class: 'active'%>
          <%= f.text_field :name, required: true, id:"new_name_field" %>
        </div>
      </div>

      <div class="row">
        <div class=" col s12 m6">
          <%= label_tag :email, 'E-mail', class: 'active' %>
          <%= text_field_tag :email, nil, required: true, id:"new_email_field" %>
        </div>
        <div class=" col s12 m6">
          <%= label_tag :phone, 'Phone',  class: 'active' %>
          <%= text_field_tag :phone, nil, required: true , class: "phone" , id:"new_phone_field" %>
        </div>
      </div>
      
      <div class="row">
        <div class="col s6">
          <div class="input-field">
            <%= f.select :category, Customer.category.options, {prompt: true}, {id: "category_field", onchange:"show_birthdate()"} %>
            <%= f.label :category %>
          </div>
        </div>
        <div class="input-field col s6">
          <%= f.label :document_id %>
          <%= f.text_field :document_id %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <%= f.date_field :since %>
          <%= f.label :since %>
        </div>
        <div class="input-field col s6 invisible" id="birthdate_div">
          <%= f.date_field :birthdate, id: "birthdate_field" %>
          <%= f.label :birthdate %>
        </div>
      </div>
    </div>
  <div class="modal-footer">
    <%= f.button :submit, :value => "remote_save", class:"modal-action waves-effect waves-green btn-flat" do %>
      <i class="material-icons left">save</i><%= t('buttons.customer.save') %>
    <% end %>
  </div>
</div>
<% end %>

<%= content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
      function show_birthdate() {
          if ($("#category_field").val() == 'person'){
              $("#birthdate_div").show();
          } else{
              $("#birthdate_div").hide();
              $("#birthdate_field").val('');
          }
      }
  </script>
<% end %>
