<div class="card-panel">
  <div class="row">
    <div class="col s12 m5">
      <h6>Lead #<%= lead.code %></h6>
      <span>Customer: <%= lead.customer.name %></span>
      <br>
      <span>Email: <%= lead.customer.get_main_email.data['email'] unless lead.customer.get_main_email == nil %></span>
    </div>
    <div class="col s12 m5 pt-1">
      <span style="width: 100%" class="left">Phone: <%= lead.phone %></span>
      <span style="width: 100%" class="left">Via: <%= lead.via %></span>
      <span style="width: 100%" class="left"><%= lead.description %></span>
    </div>
    <div class="col s12 m2 pt-1">
      <span class="chip lighten-5 green green-text right mr-0"><%= lead.status %></span>
      <span style="width: 100%" class="right right-align"><%= lead.date.strftime("%d/%m/%Y") %></span>
    </div>
  </div>
</div>