<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
	<!-- Search for small screen-->
	<div class="container">
		<div class="row">
			<div class="col s10 m6 l6">
				<h5 class="breadcrumbs-title mt-0 mb-0"><span><%= t('activerecord.models.lead') %></span></h5>
				<ol class="breadcrumbs mb-0">
					<li class="breadcrumb-item"><a href="/"><%= t('home') %></a>
					</li>
					<li class="breadcrumb-item"><a href="#"><%= t('activerecord.models.lead') %></a>
					</li>
					<li class="breadcrumb-item active"><%= t('breadcrumb.edit') %>
					</li>
				</ol>
			</div>
			<div class="col s2 m6 l6">
				<%= link_to t('button.all'), leads_path, class:"btn waves-effect waves-light breadcrumbs-btn right" %>
			</div>
		</div>
	</div>
</div>

<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%= t('errors.template.header')  %>:</h5>

      <ul>
      <% @lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="section">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="input-field col s12 m3 l3">
            <%= f.text_field :phone, 
                autocomplete: 'off',
                required: true,
                class: 'autocomplete autocomplete-phone phone', 
                onkeyup: "search_by_phone($(this).val())" %>
            <%= f.label  :phone, id: 'lead_phone_label' %>
          </div>

          <div class="input-field col s12 m4 l4">
            <%= f.text_field :customer, 
                autocomplete: 'off',
                required: true,
                class: 'autocomplete autocomplete-customer', 
                onkeyup: "search_by_name($(this).val())" %>
            <%= f.hidden_field :customer_id %>
            <%= f.label  :customer, id: 'lead_customer_label' %>
          </div>
          <div class="input-field col s12 m3 l3">
            <%= text_field_tag :email,
                nil,
                autocomplete: 'off',
                required: true,
                class: 'autocomplete autocomplete-email',
                id: 'customer_email',
                onkeyup: "search_by_email($(this).val())" %>
            <%= label_tag :email , "Email", id: :email_label %>
          </div>
          <div class="col s12 m2 l2 display-flex pt-2 pl-4 justify-content-end">
            <!-- Mo dal Trigger -->
            <a class="btn btn-floating waves-effect indigo waves-light left modal-trigger tooltipped" data-position="left" data-tooltip="New customer" href="#customer-add-modal"><i class="material-icons">person_add</i></a>
          </div>
        </div>
        <div class="row other-fields">									
          <div class="input-field col s12 m8">
            <%= f.text_field :description, autocomplete: 'off' %>
            <%= f.label  :description %>
          </div>
          <div class="input-field col s6 m4">
            <%= f.text_field :via, autocomplete: 'off', required: true, class: 'autocomplete autocomplete-via' %>
            <%= f.label  :via %>
          </div>
          <div class="input-field col s6 m4">
            <%= f.date_field :date, value: Time.now.strftime('%Y-%m-%d'), class: 'validate datepicker' %>
            <%= f.label  :date %>
          </div>
          <div class="col s12 m4">
            <div class="input-field">

              <%= f.select :status, options_for_select(Lead.status.options, @lead.status) %>
              <%= f.label  :status %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="save-buttons col s12 pb-2">
    <%= f.button :submit, :value => "save", class:"btn waves-effect waves-light breadcrumbs-btn right" do %>
      <i class="material-icons hide-on-med-and-up">save</i><span class="hide-on-small-only"><%= t('actions.leads.save_lead') %></span>
    <% end %>
  </div>
<% end %>

</div>