<div class="welcome-wrapper">
  <div class="welcome-logo animated fadeInDown">
    <img src="woffice.svg" alt="<%= t 'woffice' %>">
  </div>
  <div class="welcome-content animated fadeInUp">
    <h1><%= t 'texts.devise.welcome' %>!</h1>
    <p><%= t 'texts.welcome.glad_to_have_you_here' %></p>
    <p><%= t 'texts.welcome.if_you_to_know_anything_before_continue' %> <a href="#knowledge"><%= t 'texts.welcome.knowledge_base' %></a> <%= t 'texts.welcome.about_woffice' %></p>
    <p><%= t 'texts.pages.woffice_works_better_integrated_with_square' %></p>
    <p><a href="https://squareup.com/t/f_partnerships/p_Novostek/l_us?route=signup" target="_blank" rel="noopener noreferrer"><%= t 'texts.welcome.click_here_sign_up_square' %></a>.</p>
    <p><a href="/"><%= t 'texts.welcome.go_home_page' %></a></p>
  </div>
</div>