<ul class="tabs">
  <li class="tab">
    <a target="_self" class="<%= page == 'company' ? "active" : '' %>"  href="/settings"><%= t 'texts.company' %></a></li>
  <li class="tab">
    <a target="_self" class="<%= page == 'email' ? "active" : '' %>" href="/settings/email"><%= t 'texts.emails' %></a>
  </li>
  <li class="tab">
    <a target="_self" class="<%= page == 'estimate' ? "active" : '' %>" href="/settings/estimate"><%= t 'activerecord.models.estimates' %></a>
  </li>
  <li class="tab">
    <a target="_self" class="<%= page == 'transactions' ? "active" : '' %>" href="/settings/transactions"><%= t 'activerecord.models.transactions' %></a>
  </li>

  <%
    site_name = Setting.get_value('site_name')
    if site_name
      url = DudaService.get_site(Setting.get_value('site_name'))[:preview_site_url]
    else
      url = new_site_settings_path
    end
  %>
  <li class="tab">
    <a target="<%= site_name.present? ? "_blank" : "_self" %>"  class="<%= page == 'site' ? "active" : '' %>" href="<%= url %>"><%= t 'texts.settings.site' %></a>
  </li>
</ul>