<%= content_for :head_content do %>
  <link href='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
<% end %>
<%= form_with url: atualiza_settings_settings_path, local: true do |f| %>
  <%= f.hidden_field  :redirect,  value: "/settings/email"%>
<div class="content-wrapper-before woffice-color"></div>
<div class="pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0"><span><%= t 'activerecord.models.settings' %></span></h5>
<!--        <ol class="breadcrumbs mb-0">-->
<!--          <li class="breadcrumb-item"><a href="/"><%#= t('home') %></a>-->
<!--          </li>-->
<!--          <li class="breadcrumb-item"><a href="/settings">Settings</a>-->
<!--          </li>-->
<!--          <li class="breadcrumb-item active">Email-->
<!--          </li>-->
<!--        </ol>-->
      </div>
      <!-- <div class="col s2 m6 l6"><a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span class="hide-on-small-onl">Settings</span><i class="material-icons right">arrow_drop_down</i></a>
          <ul class="dropdown-content" id="dropdown1" tabindex="0">
              <li tabindex="0"><a class="grey-text text-darken-2" href="user-profile-page.html">Profile<span class="new badge red">2</span></a></li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="app-contacts.html">Contacts</a></li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="page-faq.html">FAQ</a></li>
              <li class="divider" tabindex="-1"></li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="user-login.html">Logout</a></li>
          </ul>
      </div> -->
    </div>
  </div>
</div>
<div class="">
  <div class="settings_container">
    <div class="section">
      <ul class="tabs">
        <li class="tab"><a target="_self"  href="/settings"><%= t 'texts.company' %></a></li>
        <li class="tab"><a target="_self" class="active " href="/settings/email"><%= t 'texts.emails' %></a></li>
        <li class="tab"><a target="_self" href="/settings/estimate"><%= t 'activerecord.models.estimates' %></a></li>
        <li class="tab"><a target="_self"  href="/settings/transactions"><%= t 'activerecord.models.transactions' %></a></li>
        <li class="tab"><a target="_self" href="/settings/site"><%= t 'texts.settings.site' %></a></li>
      </ul>
      <div class="card">
        <div class="card-content">
          <div class="row">

            <div class="col s12 m3 mb-3">
              <div class="card-title black-text"><%= t 'texts.settings.template_email' %></div>
              <p><%= t 'texts.settings.set_email_messages_that_are_sent' %></p>
            </div>

            <div class="col s12 m8">
              <div class="row">
                <div class="input-field col s12 l8">
                  <p class="font-weight-600"><%= t 'texts.settings.smtp_address' %></p>
                  <input name="mail_address" id="mail_address" type="text"
                         value="<%= Setting.get_value('mail_address') %>">
                  <!-- <span class="helper-text" data-error="wrong" data-success="right">Helper Text</span> -->
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12 l8">
                  <p class="font-weight-600"><%= t 'texts.settings.smtp_port' %></p>
                  <input name="mail_port" id="mail_port" type="text"
                         value="<%= Setting.get_value('mail_port') %>">
                  <!-- <span class="helper-text" data-error="wrong" data-success="right">Helper Text</span> -->
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12 l8">
                  <p class="font-weight-600"><%= t 'texts.settings.smtp_username' %></p>
                  <input name="mail_user" id="mail_user" type="text"
                         value="<%= Setting.get_value('mail_user') %>">
                  <!-- <span class="helper-text" data-error="wrong" data-success="right">Helper Text</span> -->
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12 l8">
                  <p class="font-weight-600"><%= t 'texts.settings.smtp_password' %></p>
                  <input name="mail_password" id="mail_password" type="text"
                         value="<%= Setting.get_value('mail_password') %>">
                  <!-- <span class="helper-text" data-error="wrong" data-success="right">Helper Text</span> -->
                </div>
              </div>
            </div>


          </div>

          <div class="row">
            <div class="row">
              <div class="input-field col s12">
                <p class="font-weight-600"><%= t 'texts.settings.square_estimate_text' %></p>
                <!--                  <input class="materialize-textarea" name="send_square_mail_text" id="send_square_mail_text" value="<%#= Setting.get_value("send_square_mail_text")  %>">-->
                <div id="froala-editor_send_estimate_mail_text">
                  <% if !Setting.find_by(namespace: "send_estimate_mail_text").present? %>
                    <h3><%= t 'texts.settings.click_here' %></h3>
                    <p><%= t 'texts.settings.drag_the_image_or_text_block' %></p>
                  <% else %>
                    <%= Setting.get_value("send_estimate_mail_text").html_safe %>
                  <% end %>
                </div>
                <span class="helper-text"><%= t 'texts.settings.this_text_is_sent_via_square' %></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <p class="font-weight-600"><%= t 'texts.settings.square_mail_text' %></p>
                <!--                  <input class="materialize-textarea" name="send_square_mail_text" id="send_square_mail_text" value="<%#= Setting.get_value("send_square_mail_text")  %>">-->
                <div id="froala-editor_send_square_mail_text">
                  <% if !Setting.find_by(namespace: "send_square_mail_text").present? %>
                    <h3><%= t 'texts.settings.click_here' %></h3>
                    <p><%= t 'texts.settings.drag_the_image_or_text_block' %></p>
                  <% else %>
                    <%= Setting.get_value("send_square_mail_text").html_safe %>
                  <% end %>
                </div>
                <span class="helper-text"><%= t 'texts.settings.this_text_is_sent_via_square' %></span>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <p class="font-weight-600"><%= t 'texts.settings.invoice_mail' %></p>
                <!--                  <input class="materialize-textarea" name="send_invoice_mail_text" id="send_invoice_mail_text" value="<%#= Setting.get_value("send_invoice_mail_text")  %>">-->
                <div id="froala-editor_send_invoice_mail_text">
                  <% if !Setting.find_by(namespace: "send_invoice_mail_text").present? %>
                    <h3><%= t 'texts.settings.click_here' %></h3>
                    <p><%= t 'texts.settings.drag_the_image_or_text_block' %></p>
                  <% else %>
                    <%= Setting.get_value("send_invoice_mail_text").html_safe %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <p class="font-weight-600"><%= t 'texts.settings.document_mail' %></p>
                <!--                  <input class="materialize-textarea" name="send_document_mail_text" id="send_document_mail_text" value="<%#= Setting.get_value("send_document_mail_text")  %>">-->
                <div id="froala-editor_send_document_mail_text">
                  <% if !Setting.find_by(namespace: "send_document_mail_text").present? %>
                    <h3><%= t 'texts.settings.click_here' %></h3>
                    <p><%= t 'texts.settings.drag_the_image_or_text_block' %></p>
                  <% else %>
                    <%= Setting.get_value("send_document_mail_text").html_safe %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <p class="font-weight-600"><%= t 'texts.settings.sign_order_mail' %></p>
                <!--                  <input class="materialize-textarea" name="sign_order_mail_text" id="sign_order_mail_text" value="<%#= Setting.get_value("sign_order_mail_text")  %>">-->
                <div id="froala-editor_sign_order_mail_text">
                  <% if !Setting.find_by(namespace: "sign_order_mail_text").present? %>
                    <h3><%= t 'texts.settings.click_here' %></h3>
                    <p><%= t 'texts.settings.drag_the_image_or_text_block' %></p>
                  <% else %>
                    <%= Setting.get_value("sign_order_mail_text").html_safe %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <p class="font-weight-600"><%= t 'texts.settings.schedule_mail' %></p>
                <!--                  <input class="materialize-textarea" name="sign_order_mail_text" id="sign_order_mail_text" value="<%#= Setting.get_value("sign_order_mail_text")  %>">-->
                <div id="froala-editor_send_schedule_mail_text">
                  <% if !Setting.find_by(namespace: "send_schedule_mail_text").present? %>
                    <h3><%= t 'texts.settings.click_here' %></h3>
                    <p><%= t 'texts.settings.drag_the_image_or_text_block' %></p>
                  <% else %>
                    <%= Setting.get_value("send_schedule_mail_text").html_safe %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <p class="font-weight-600"><%= t 'texts.settings.card_mail' %></p>
                <!--                  <input class="materialize-textarea" name="sign_order_mail_text" id="sign_order_mail_text" value="<%#= Setting.get_value("sign_order_mail_text")  %>">-->
                <div id="froala-editor_send_card_mail_text">
                  <% if !Setting.find_by(namespace: "card_mail_text").present? %>
                    <h3><%= t 'texts.settings.click_here' %></h3>
                    <p><%= t 'texts.settings.drag_the_image_or_text_block' %></p>
                  <% else %>
                    <%= Setting.get_value("card_mail_text").html_safe %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <p class="font-weight-600"><%= t 'texts.settings.mail_payment_registered' %></p>
                <!--                  <input class="materialize-textarea" name="sign_order_mail_text" id="sign_order_mail_text" value="<%#= Setting.get_value("sign_order_mail_text")  %>">-->
                <div id="froala-editor_payment_registered_to_customer">
                  <% if !Setting.find_by(namespace: "payment_registered_to_customer").present? %>
                    <h3><%= t 'texts.settings.click_here' %></h3>
                    <p><%= t 'texts.settings.drag_the_image_or_text_block' %></p>
                  <% else %>
                    <%= Setting.get_value("payment_registered_to_customer").html_safe %>
                  <% end %>
                </div>
                <span class="helper-text"><%= t 'texts.settings.text_sent_to_customer_payment_registered' %></span>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>


    <!-- END RIGHT SIDEBAR NAV -->
    <%#= f.submit "Save", class:"btn" %>
    <button id="save_data" class="btn right"><%= t "button.save" %></button>
  </div>
  <div class="content-overlay"></div>

</div>

<% end %>
<%= content_for :scripts do %>
  <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js'></script>
  <script>

      $("#save_data").click(function(){

          var editor = new FroalaEditor('#froala-editor_send_square_mail_text', {}, function () {
              // Call the method inside the initialized event.
              data = editor.html.get(true);
          });

          var editor2 = new FroalaEditor('#froala-editor_send_invoice_mail_text', {}, function () {
              // Call the method inside the initialized event.
              data = editor.html.get(true);
          });

          var editor3 = new FroalaEditor('#froala-editor_send_document_mail_text', {}, function () {
              // Call the method inside the initialized event.
              data = editor.html.get(true);
          });

          var editor4 = new FroalaEditor('#froala-editor_sign_order_mail_text', {}, function () {
              // Call the method inside the initialized event.
              data = editor.html.get(true);
          });

          var editor5 = new FroalaEditor('#froala-editor_send_schedule_mail_text', {}, function () {
              // Call the method inside the initialized event.
              data = editor.html.get(true);
          });

          var editor6 = new FroalaEditor('#froala-editor_send_estimate_mail_text', {}, function () {
              // Call the method inside the initialized event.
              data = editor.html.get(true);
          });

          var editor7 = new FroalaEditor('#froala-editor_send_card_mail_text', {}, function () {
              // Call the method inside the initialized event.
              data = editor.html.get(true);
          });

          var editor8 = new FroalaEditor('#froala-editor_payment_registered_to_customer', {}, function () {
              // Call the method inside the initialized event.
              data = editor.html.get(true);
          });

          $.post( "<%= atualiza_settings_settings_path %>", {payment_registered_to_customer: editor8.html.get(true), card_mail_text: editor7.html.get(true) ,send_estimate_mail_text: editor6.html.get(true), send_schedule_mail_text: editor5.html.get(true) ,send_square_mail_text: editor.html.get(true), send_invoice_mail_text: editor2.html.get(true), send_document_mail_text: editor3.html.get(true), sign_order_mail_text: editor4.html.get(true) },function(data){
              M.toast({html: data["success"]});
          } );


      });

      new FroalaEditor('div#froala-editor_send_estimate_mail_text', {
          events: {
              initialized: function () {
                  var editor = this;
              }
          }
      })

      new FroalaEditor('div#froala-editor_send_square_mail_text', {
          events: {
              initialized: function () {
                  var editor = this;
              }
          }
      })

      new FroalaEditor('div#froala-editor_send_invoice_mail_text', {
          events: {
              initialized: function () {
                  var editor = this;
              }
          }
      })

      new FroalaEditor('div#froala-editor_send_document_mail_text', {
          events: {
              initialized: function () {
                  var editor = this;
              }
          }
      })

      new FroalaEditor('div#froala-editor_sign_order_mail_text', {
          events: {
              initialized: function () {
                  var editor = this;
              }
          }
      })

      new FroalaEditor('div#froala-editor_send_schedule_mail_text', {
          events: {
              initialized: function () {
                  var editor = this;
              }
          }
      })

      new FroalaEditor('div#froala-editor_send_card_mail_text', {
          events: {
              initialized: function () {
                  var editor = this;
              }
          }
      })

      new FroalaEditor('div#froala-editor_payment_registered_to_customer', {
          events: {
              initialized: function () {
                  var editor = this;
              }
          }
      })
  </script>
<% end %>