<%= content_for :head_content do %>
  <link href='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
<% end %>
<%= form_with url: atualiza_settings_settings_path, local: true do |f| %>
  <%= f.hidden_field  :redirect,  value: "/settings/estimate"%>
<div class="content-wrapper-before woffice-color"></div>
<div class="pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0"><span><%= t 'activerecord.models.settings' %></span></h5>
<!--        <ol class="breadcrumbs mb-0">-->
<!--          <li class="breadcrumb-item"><a href="/"><%#= t('home') %></a>-->
<!--          </li>-->
<!--          <li class="breadcrumb-item"><a href="/settings">Settings</a>-->
<!--          </li>-->
<!--          <li class="breadcrumb-item active">Estimate-->
<!--          </li>-->
<!--        </ol>-->
      </div>
      <!-- <div class="col s2 m6 l6"><a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span class="hide-on-small-onl">Settings</span><i class="material-icons right">arrow_drop_down</i></a>
          <ul class="dropdown-content" id="dropdown1" tabindex="0">
              <li tabindex="0"><a class="grey-text text-darken-2" href="user-profile-page.html">Profile<span class="new badge red">2</span></a></li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="app-contacts.html">Contacts</a></li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="page-faq.html">FAQ</a></li>
              <li class="divider" tabindex="-1"></li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="user-login.html">Logout</a></li>
          </ul>
      </div> -->
    </div>
  </div>
</div>
<div class="">
  <div class="settings_container">
    <div class="section">
      <ul class="tabs">
        <li class="tab"><a target="_self" href="/settings"><%= t 'texts.company' %></a></li>
        <li class="tab"><a target="_self" href="/settings/email"><%= t 'texts.emails' %></a></li>
        <li class="tab"><a target="_self" class="active " href="/settings/estimate"><%= t 'activerecord.models.estimates' %></a></li>
        <li class="tab"><a target="_self"  href="/settings/transactions"><%= t 'activerecord.models.transactions' %></a></li>
      </ul>
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s12 mb-3">
              <div class="card-title black-text"><%= t 'texts.settings.estimate_notes' %></div>
              <p><%= t 'texts.settings.information_appear_your_clients' %></p>

              <div class="row">
                <div class="input-field col s12">

                  <div id="estimate_editor">
                    <div id="froala-editor">
                      <% if !Setting.find_by(namespace: "estimate_notes").present? %>
                        <h3><%= t 'texts.settings.click_here' %></h3>
                        <p><%= t 'texts.settings.drag_the_image_or_text_block' %></p>
                      <% else %>
                        <%= Setting.get_value("estimate_notes").html_safe %>
                      <% end %>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="row">
            <div class="col s12 ">
              <!--                    <img src="https://i.ibb.co/sVQ03Sk/Whats-App-Image-2020-04-02-at-12-51-26.jpg" alt="Company logo">-->
              <img src="<%= Setting.banner %>" alt="Company logo<%= t 'texts.settings.company_logo' %>">
            </div>
            <div class="file-field input-field col s12">
              <div class="btn">
                <span><%= t :upload_banner %></span>
                <!--                      <input type="file" name="logo" id="logo">-->
                <%= f.file_field :banner %>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>

          </div>

        </div>
      </div>
    </div>


    <!-- END RIGHT SIDEBAR NAV -->
    <button id="save_data" class="btn right"><%= t "button.save" %></button>
  </div>
  <div class="content-overlay"></div>
</div>
<% end %>

<%= content_for :scripts do %>
  <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js'></script>
  <script>
      $(document).ready(function(){
          $(".doc-floating-btn").on("click", function(){
              $(this).removeClass("infinite").removeClass("animated");
              $(this).parent().toggleClass("active");
              if ($(this).parent().hasClass("active")) {
                  $(this).find("i").text("keyboard_arrow_right");
              } else {
                  $(this).find("i").text("keyboard_arrow_left");
              }
          });

          $(window).scroll(function(e){
              console.log($(window).scrollTop());
              if ($(window).scrollTop() >= 180) {
                  $(".doc-floating-box").addClass("scrolled");
              } else {
                  $(".doc-floating-box").removeClass("scrolled");
              }
          });
      });
  </script>
  <script>

      $("#save_data").click(function(){
          //

          var editor = new FroalaEditor('#froala-editor', {}, function () {
              // Call the method inside the initialized event.
              data = editor.html.get(true);
          });

         $.post( "<%= atualiza_settings_settings_path %>", {  estimate_notes: editor.html.get(true) },function(data){
            M.toast({html: data["success"]});
         } );


      });

      new FroalaEditor('div#froala-editor', {
          events: {
              initialized: function () {
                  var editor = this;
              }
          }
      })
  </script>
<% end %>