<%= content_for :head_content do %>
  <link href='/css/settings.css' rel='stylesheet' type='text/css'/>
<% end %>

<section class="invoice-list-wrapper section">
  <div class="content-wrapper-before woffice-color"></div>
  <div class="pb-0 pt-4" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s10 m6 l6">
          <h5 class="breadcrumbs-title mt-0 mb-0"><span><%= t 'activerecord.models.settings' %></span></h5>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="settings_container">
      <div class="section">
        <ul class="tabs">
          <li class="tab"><a target="_self" href="/settings"><%= t 'texts.company' %></a></li>
          <li class="tab"><a target="_self" href="/settings/email"><%= t 'texts.emails' %></a></li>
          <li class="tab"><a target="_self" href="/settings/estimate"><%= t 'activerecord.models.estimates' %></a></li>
          <li class="tab">
            <a target="_self" href="/settings/transactions"><%= t 'activerecord.models.transactions' %></a></li>
          <li class="tab"><a target="_self" class="active" href="/settings/site"><%= t 'texts.settings.site' %></a></li>
        </ul>

<!--        <div class="card-panel">-->
<!--        <div class="card">-->
<!--          <div class="card-content min-height-300">-->

            <% if @site %>

            <% else %>
                <div id="card-alert" class="card orange lighten-5">
                  <div class="card-content orange-text">
                    <p>Selecione um dos templates abaixo para criar seu site agora</p>
                  </div>
                </div>

                <% @templates.each do |template| %>
                  <div class="col s12 m4 l2">
                    <div class="card">
                      <div class="card-image">
                        <img class="materialboxed" src="<%= template[:thumbnail_url] %>">
                        <a class="btn-floating tooltipped halfway-fab waves-effect waves-light red start-building" data-tooltip="Start editing this template" data-template-id="<%= template[:template_id] %>"><i class="material-icons">mode_edit</i></a>
                      </div>
                      <div class="card-content">
                        <span class="card-title grey-text text-darken-4 truncate"><%= template[:template_name] %></span>
                        <a href="<%= template[:preview_url] %>" target="_blank" data-template-id="<%= template[:template_id] %>">Preview
                          Template</a>
                      </div>
                      <div class="card-action">
                        <a data-template-id="<%= template[:template_id] %>" href="#" class="start-building">Start with
                          this template</a>
                      </div>
                    </div>
                  </div>
              <% end %>
            <% end %>

<!--          </div>-->
<!--        </div>-->
<!--        </div>-->

      </div>
    </div>
    <div class="content-overlay"></div>
  </div>
</section>
