<%= form_for(labor_cost) do |f| %>
  <% if labor_cost.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%= t('errors.template.header')  %>:</h5>

      <ul>
      <% labor_cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">
    <%= f.collection_select :worker_id, Worker.all, :id, :name, prompt: true  %>
    
  </div>

  <div class="input-field">
    <%= f.collection_select :schedule_id, Schedule.all, :id, :name, prompt: true  %>
    
  </div>

  <div class="input-field">

    <%= f.label  :date %>
    <%= f.date_select :date %>
    
  </div>

  <div class="input-field">

    <%= f.label  :value %>
    <%= f.text_field :value %>
    
  </div>

  <div class="input-field">

    <%= f.label  :status %>
    <%= f.text_field :status %>
    
  </div>

</div>
  <div class="actions">
    <%= f.submit t('button.save'), class:"btn" %>
  </div>
<% end %>
