
<h6 class="greetings"><%= t 'texts.document_mailer.hi' %>, <%= @customer %>!</h6>
<p>
  <%= raw (Setting.get_value("card_mail_text")|| "").remove 'Powered by <a href="https://www.froala.com/wysiwyg-editor?pb=1" title="Froala Editor">Froala Editor</a>' %>
</p>
<br>
<a class="btn btn-primary" href="<%= @link %>"><%= t 'texts.document_mailer.add_card_here' %></a>
