<h6 class="greetings"><%= t 'texts.document_mailer.client_approved_estimate' %></h6>
<br>
<b><%= @estimate.customer.name.split.first %></b> <%= t 'texts.document_mailer.approved_estimate_number' %> <%= @estimate.code %>.

<table style="width:100%; margin-top: 40px; margin-bottom: 40px;">
  <tr>
    <th><%= t 'texts.estimate.subtotal' %></th>
    <th><%= number_to_currency @estimate.subtotal %></th>
  </tr>
  <tr>
    <th><%= t 'texts.estimate.discount' %></th>
    <th><%= number_to_currency @estimate.discounts %></th>
  </tr>
  <tr>
    <th><%= t 'activerecord.attributes.estimate.tax' %> (<%= t("enumerize.estimate.taxpayer.#{@estimate.taxpayer}") if @estimate.taxpayer.present?%>)</th>
    <th><%= number_to_currency @estimate.tax || 0 %></th>
  </tr>
  <tr>
    <th><%= t 'texts.estimate.estimate_total' %></th>
    <th><%= number_to_currency @estimate.total %></th>
  </tr>
</table>

<p>
  <%= raw (Setting.get_value("send_estimate_mail_text") || "").remove 'Powered by <a href="https://www.froala.com/wysiwyg-editor?pb=1" title="Froala Editor">Froala Editor</a>' %>
</p>