<h6 class="greetings"><%= t 'texts.document_mailer.payment_received_by_square' %></h6>
<br>

<table style="width:100%; margin-top: 40px; margin-bottom: 40px;">
  <tr>
    <th><%= t 'texts.source' %></th>
    <td>
      <% if @transaction.payment_method.present? %>
        <% if @transaction.payment_method.include?('square_credit') or @transaction.payment_method.include?('square_installments') %>
          <%= image_tag('square_name.svg', class: "square-logo") %>
        <% else %>
          <%= t(@transaction.payment_method) %>
        <% end %>
      <% else %>
        -
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= t 'activerecord.models.transaction_category' %></th>
    <td>
      <% if @transaction.transaction_category.present? %>
        <%= @transaction.transaction_category %>
      <% else %>
        -
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= t 'activerecord.models.account' %></th>
    <td>
      <% if @transaction.transaction_account.present? %>
        <%= @transaction.transaction_account %>
      <% else %>
        -
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= t 'texts.origin' %></th>
    <td>
      <% if @transaction.order.present? %>
        <%= t 'activerecord.models.order' %> #<%= @transaction.order %>
      <% else %>
        -
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= t 'texts.due' %></th>
    <td>
      <%= @transaction.due.present? ? @transaction.due.strftime("%m/%d/%Y") : '-' %>
    </td>
  </tr>
  <tr>
    <th><%= t 'activerecord.attributes.transaction.effective' %></th>
    <td>
      <%= @transaction.effective.present? ? @transaction.effective.strftime("%m/%d/%Y") : '-' %>
    </td>
  </tr>
  <tr>
    <th><%= t 'status' %></th>
    <td>
      <%= @transaction.status %>
    </td>
  </tr>
  <tr>
    <th><%= t 'texts.value' %></th>
    <td><%= number_to_currency(@transaction.value, :unit => '$') %></td>
  </tr>
</table>