<div class="content-wrapper-before woffice-color"></div>
			<div class="breadcrumbs-lightpb-0 pt-4" id="breadcrumbs-wrapper">
				<!-- Search for small screen-->
				<div class="container">
					<div class="row">
						<div class="col s10 m6 l6">
							<h5 class="breadcrumbs-title mt-0 mb-0"><span><%= t('activerecord.models.customers') %></span></h5>
							<ol class="breadcrumbs mb-0">
								<li class="breadcrumb-item"><a href="/"><%= t('home') %></a>
								</li>
								<li class="breadcrumb-item"><a href="#"><%= t('activerecord.models.customers') %></a>
								</li>
								<li class="breadcrumb-item active"><%= t('breadcrumb.list') %>
								</li>
							</ol>
						</div>
						<div class="col s2 m6 l6"><a class="btn waves-effect waves-light breadcrumbs-btn right border-round" href="<%= new_customer_path %>"><i class="material-icons hide-on-med-and-up">add</i><span class="hide-on-small-only"><%= t "add"  %> <%= t('activerecord.models.customer') %></span></a>
						</div>
					</div>
				</div>
			</div>

<section class="invoice-list-wrapper section">
  <!-- create invoice button-->
  <!-- Options and filter dropdown button-->
  <div class="invoice-filter-action mr-3">
    <div class="row">
    <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <div class="col s9 m11">
          <%= f.search_field :name_or_category_or_document_id_or_code_cont, placeholder: t('placeholder.search'), class: "search-ransack" %>
      </div>
      <div class="col s3 m1">
				<button type="submit" class="btn-floating mb-1 waves-effect waves-light rigth">
					<i class="material-icons">search</i>
				</button>
      </div>
    <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <table class="responsive-table">
        <thead>
          <tr>
            <th><%= sort_link(@q, :name, t('activerecord.attributes.customer.name')) %></th>
            <th><%= t('activerecord.attributes.customer.contact') %></th>
            <th><%= t('activerecord.attributes.customer.since') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td>
                  <%= link_to customer.name, customer %> <br>
                  <small><%= t(customer.category) %></small>
              </td>
              <td>
                <%= truncate(customer.get_main_address_f || "No Address") %> <br>
                <small><%= customer.get_main_phone_f || "No Phone" %></small>
              </td>
              <td>
                <%= customer.since || customer.created_at.to_date %>
              </td>
              <td>
                <%= link_to edit_customer_path(customer) , class: "invoice-action-edit mr-4" do %>
                  <i class="material-icons">edit</i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate(@customers)  %>
</section>
