<div class="row deposit nested-fields">
  <div class="card-panel z-depth-0 border-radius-4">
    <%= link_to_remove_association f, class: "btn-close-deposit" do %>
      <i class="material-icons">close</i>
    <% end %>
    <div class="row">
      <div class="input-field col s12 m4">
        <%= f.number_field :value, min: 0, class: "validade value" %>
        <%= f.label  :value %>
      </div>
      <div class="input-field col s12 m4">
        <%= f.select :payment_method, 
            options_for_select(Transaction.payment_method.options.map { |op| 
              [op[0], op[1], {'data-icon': op[0].include?("Square") ? image_path('square.svg') : '' }]
            }, f.object.payment_method), 
                     {class: 'icons' }, {id:"payment_method_#{f.index}_", onchange:"payment_method_change('_#{f.index}_')"} %>
        <%= f.label :payment_method %>
      </div>
      <div class="input-field col s12 m4">
        <i class="material-icons prefix">today</i>
        <%= f.date_field :due, class: "deposit-due" %>
        <%= f.label  :due %>
      </div>
    </div>
    <div class="row hide email_div" id="email_<%= f.index %>_">
      <div class="input-field">
        <%= f.label :email, class:"active" %>
        <%= f.text_field :email, value: @email_customer %>
      </div>
    </div>
  </div>
</div>

<%= content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">

      function payment_method_change(index)
      {
          if($("#payment_method"+index).val() == "square_credit")
          {
              $("#email"+index).removeClass("hide");
          }
          else
          {
              $("#email"+index).addClass("hide");
          }
      }
      $(document).ready(function () {
          $('select').formSelect();
          $(".select2").select2({
              width: 'resolve',
          });
        })
  </script>
<% end %>
