<div class="content-wrapper-before woffice-color"></div>
			<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
				<!-- Search for small screen-->
				<div class="container">
					<div class="row">
						<div class="col s10 m6 l6">
							<h5 class="breadcrumbs-title mt-0 mb-0">
                <%= t 'activerecord.models.order' %>
                <% if params[:q].present? %>
                  <span class="chip amber darken-1 white-text"><%= t('texts.filtered') %></span>
                <% end %>
              </h5>
              <ol class="breadcrumbs mb-0">
                <%= render_breadcrumbs :tag => :li, :separator => "" %>
              </ol>
						</div>
						<!-- <div class="col s2 m6 l6"><a class="btn waves-effect waves-light breadcrumbs-btn right border-round" href="estimate-add.html"><i class="material-icons hide-on-med-and-up">add</i><span class="hide-on-small-only">Add estimate</span></a> -->
            <div class="col s2 m6 l6">
              <div class=" btn-secondary sidenav-trigger btn waves-effect waves-light breadcrumbs-btn right" data-target="slide-out-right-exports-dates">Filter</div>
            </div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="container">
						<div class="section orders-list-analytics">
              <% if can? :see_price, Order %>
							  <div class="row" id="gradient-Analytics">
								<div class="col s12 m6 l3 card-width">
									<div class="card row gradient-45deg-amber-amber gradient-shadow white-text padding-4 mt-5">
										<div class="col s5 m5">
											<i class="material-icons background-round mt-5 mb-5">add_shopping_cart</i>
											<p><%= t 'activerecord.models.orders' %></p>
										</div>
										<div class="col s7 m7 right-align">
											<h5 class="mb-0 white-text"><%= @orders_month.size %></h5>
											<p class="no-margin"><%= t 'button.new' %></p>
											<p><%= number_to_currency(@total_atual) %></p>
										</div>
									</div>
								</div>
								<div class="col s12 m6 l3 card-width">
									<div class="card row gradient-45deg-red-pink gradient-shadow white-text padding-4 mt-5">
										<div class="col s5 m5">
											<i class="material-icons background-round mt-5 mb-5">timeline</i>
											<p>Sales</p>
										</div>
										<div class="col s7 m7 right-align">
											<h5 class="mb-0 white-text"><%= @crecimento.round(2) %>%</h5>
											<p class="no-margin"><%= t 'texts.growth' %></p>
											<p><%= number_to_currency(@resultado) %></p>
										</div>
									</div>
								</div>
								<div class="col s12 m6 l3 card-width">
									<div class="card row gradient-45deg-indigo-light-blue gradient-shadow white-text padding-4 mt-5">
										<div class="col s5 m5">
											<i class="material-icons background-round mt-5 mb-5">perm_identity</i>
											<p><%= t 'texts.pending' %></p>
										</div>
										<div class="col s7 m7 right-align">
											<h5 class="mb-0 white-text"><%= @transactions.size %></h5>
											<p class="no-margin"><%= t 'button.new' %></p>
											<p><%= number_to_currency(@transactions.sum(:value)) %></p>
										</div>
									</div>
								</div>
								
								<div class="col s12 m6 l3 card-width">
									<div class="card row gradient-45deg-green-teal gradient-shadow white-text padding-4 mt-5">
										<div class="col s5 m5">
											<i class="material-icons background-round mt-5 mb-5">attach_money</i>
											<p><%= t 'texts.profit' %></p>
										</div>
										<div class="col s7 m7 right-align">
											<h5 class="mb-0 white-text hide-numbers" id="profit-numbers"><%= number_to_currency(@profit) %></h5>
											<p class="no-margin">Today</p>
											<p><%= number_to_currency(@profit_today) %></p>
										</div>
									</div>
								</div>
							</div>
              <% end %>


							<div class="pt-1 pb-1">
								<div class="row">
                  <div class="search-table-list">
                    <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
                      <div class="col s9 m11">
                          <%= f.search_field :estimates_title_or_code_or_current_estimate_customer_name_cont, placeholder: t('placeholder.search'), class: "search-ransack" %>
                      </div>
                      <div class="col s3 m1">
                        <button type="submit" class="btn-floating mb-1 waves-effect waves-light rigth">
                          <i class="material-icons">search</i>
                        </button>
                      </div>
                    <% end %>
                  </div>
                </div>
							</div>
							<div class="card">
								<div class="card-content">
									<table class="responsive-table">
										<thead>
											<tr>
												<th>#</th>
												<th><%= t 'activerecord.models.customer' %></th>
												<th><%= t 'activerecord.attributes.estimate.location' %></th>
												<th><%= t 'activerecord.attributes.estimate.price' %></th>
												<th><%= t 'activerecord.attributes.order.status' %></th>
												<th><%= t 'activerecord.attributes.estimate.sales_person' %></th>
											</tr>
										</thead>
										<tbody>
                      <% @orders.each do |order| %>
                        <tr>
                          <td>
                            <%= link_to order.code, order_path(order) %> <br>
                            <small><%= order.created_at.strftime("%m/%d/%Y") %></small>
                          </td>
                          <td>
                            <%= link_to  order.current_estimate.customer, customer_path(order.get_current_estimate.customer) %>
                            <br>
                            <small><%= order.current_estimate.customer.get_main_phone_f || "No Phone"%></small>

                          </td>

                          <td>
                            <%= truncate(order.current_estimate.location || " ") %> <br>
                            <small><%= truncate(order.current_estimate.title || " ") %></small>
                          </td>
                          <td>
                            <% if can? :see_price, Order %>
                              <%= number_to_currency order.current_estimate.total %>
                            <% end %>
                          </td>
                          <td>
                            <%= render partial: 'status', locals: {order: order} %>
                          </td>

                          <td>
                            <%= link_to worker_path(order.get_current_estimate.worker) do %>
                              <div class="chip">
																<% if order.get_current_estimate.worker.photo.present? %>
                                	<img src="<%= order.get_current_estimate.worker.photo.url %>" alt="Contact Person">
																<% end %>
                                <%= order.get_current_estimate.worker %>
                              </div>

                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          

        </div>
      </div>
    </div>
  </div>

<%= content_for :scripts do %>
	<script>
			const profit = document.getElementById("profit-numbers")
			
			profit.addEventListener("click", function () {
				profit.classList.toggle("hide-numbers")
			})
				
	</script>
<% end %>

<%= content_for :sidenav do %>
  <aside id="right-sidebar-nav">
    <div id="slide-out-right-exports-dates" style="width: 340px;" class="slide-out-right-sidenav sidenav rightside-navigation right-aligned">

      <div class="row">
        <div class="slide-out-right-title">
          <div class="col s12 pl-3">
            <i class="material-icons right "><a href="#" target="_self" class="sidenav-close">clear</a></i>
            <h5><%= t 'button.filter' %></h5>
          </div>
        </div>
      </div>

      <div class="slide-out-right-body row pl-3 pr-3 ps">
        <%= search_form_for @q, url: request.env['PATH_INFO'], id: 'form-export' do |f| %>
          <%= f.hidden_field :estimates_title_or_code_or_current_estimate_customer_name_cont %>

          <div class="row">
            <div class="input-field">
              <%= f.search_field :customer_name_cont, class: 'autocomplete-customer' %>
              <%= f.label :customer_name_cont, "Customer" %>
            </div>

            <div class="input-field">
              <%= f.select :status_cont, Order.status.options, {include_blank: t('texts.all')}, {} %>
              <%= f.label :status_cont, "Status" %>
            </div>

            <div class="input-field">
              <%= f.search_field :current_estimate_worker_name_cont, class: 'autocomplete-sales-person' %>
              <%= f.label :current_estimate_worker_name_cont, "Sales person" %>
            </div>

<!--            <div class="input-field col s6">-->
              <%#= f.number_field :current_estimate_total_gteq %>
              <%#= f.label :current_estimate_total_gteq, "Price >" %>
<!--            </div>-->

<!--            <div class="input-field col s6">-->
              <%#= f.number_field :current_estimate_total_lteq %>
              <%#= f.label :current_estimate_total_lteq, "Price <" %>
<!--            </div>-->



            <div class="input-field col s6">
              <%= f.date_field :created_at_gteq %>
              <%= f.label :created_at_gteq, "#{t 'created_at'} >" %>
            </div>

            <div class="input-field col s6">
              <%= f.date_field :created_at_lteq %>
              <%= f.label :created_at_lteq, "#{t 'created_at'} <" %>
            </div>

            <div class="mb-10">
              <%= f.button :submit, value: "btn-filter", class: "btn right border-round" do %><%= t('button.filter') %><% end %>
              <%= link_to t('clear'), orders_path, class: "btn-flat" %>
            </div>

            <hr style="margin-top: 50%">

            <div class="row chip-selection mb-8">
              <small>Choose a type:</small><br>
              <% RailsExporter::Base.file_types.each do |type| %>
                <label>
                  <%= radio_button_tag :type, type, false, class: 'transaction_status filled-in', onchange: "toggleExport()" %>
                  <span><%= type %></span>
                </label>
              <% end %>
            </div>

            <div class="actions">
              <%= f.button :submit, value: "btn-export", class: "btn right border-round", id: 'btn-export' do %>Export<% end %>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </aside>
<% end %>

<%= content_for :scripts do %>
  <script>
      $('input.autocomplete-customer').autocomplete({
          data: <%= raw Customer.all.map {|c| [c.name, nil]}.to_h.to_json %>
      });

      $('input.autocomplete-sales-person').autocomplete({
          data: <%= raw Worker.all.map {|w| [w.name, nil]}.to_h.to_json %>
      });

      function toggleExport() {
          if ($("input[name='type']").is(':checked')) {
              $('#btn-export').prop('disabled', false);
          }
          else {
              $('#btn-export').prop('disabled', true);
          }
      }

      $(document).ready(function () {
          toggleExport();
      });
  </script>
<% end %>