<%= content_for :head_content do %>
  <link href="/css/customer.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/materialize/vendors/magnific-popup/magnific-popup.css">
<% end %>
<div class="row">
  <div class="content-wrapper-before woffice-color"></div>
  <div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
      <div class="row">
        <div class="col s10 m6 l6">
          <h5 class="breadcrumbs-title mt-0 mb-0"><%= t 'activerecord.models.order' %> #<%= @order.code %></h5>
          <ol class="breadcrumbs mb-0">
            <%= render_breadcrumbs :tag => :li, :separator => "" %>
          </ol>
        </div>
        <div class="col s2 m6 l6">
          <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span class="hide-on-small-onl"><%= t 'button.actions' %></span><i class="material-icons right">arrow_drop_down</i></a>

          <ul class="dropdown-content" id="dropdown1" tabindex="0">
            <% if !@order.finished? and !@order.cancelled?  %>
              <li>
                <%= link_to schedule_order_path(@order), class: "grey-text text-darken-2" do %>
                  <i class="material-icons  ">edit</i><span ><%= t 'button.edit' %></span>
                <% end %>
              </li>
              <li>
                <%= link_to change_order_order_path(@order), class: "grey-text text-darken-2", data: {confirm: t('will_delete')} do %>
                  <i class="material-icons  ">autorenew</i><span ><%= t 'button.change' %> <%= t 'activerecord.models.order' %></span>
                <% end %>
              </li>
              <li class="divider"></li>
            <% end  %>
            <li>
              <%= link_to costs_order_path(@order),  class: "grey-text text-darken-2" do %>
                <i class="material-icons ">money_off</i><%= t 'texts.order.cost' %>
              <% end %>
            </li>
            <li>
              <a class="grey-text text-darken-2 modal-trigger btn-send-email" href="#modal-mail"><i class="material-icons ">drafts</i><%= t 'button.custom_email' %></a>
            </li>

            <li>
              <%= link_to deliver_products_order_path(@order), class: "grey-text text-darken-2" do %>
                <i class="material-icons  ">local_shipping</i><span ><%= t 'button.deliver' %></span>
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to order_photos_order_path(@order), class: "grey-text text-darken-2" do %>
                <i class="material-icons  ">photo_library</i><span ><%= t 'texts.photos' %></span>
              <% end %>
            </li>
            <li>
              <a class="grey-text text-darken-2 modal-trigger btn-send-email" href="#modal-mail_document"><i class="material-icons ">description</i><%= t 'documents' %></a>
            </li>
            <li class="divider"></li>
            <% if !@order.finished? and !@order.cancelled? %>
              <li>
                <%= link_to finish_order_order_path(@order), class: "green-text text-darken-2" do %>
                  <i class="material-icons  ">check_circle</i><span ><%= t 'button.finish_order' %></span>
                <% end %>
              </li>
            <% end  %>

            <% if !@order.has_transaction_paid and @order.status != 'cancelled' %>
              <li>
                <%#= link_to cancel_order_path(@order),  class: "grey-text text-darken-2" do %>
                <%= link_to '#',  class: "red-text text-darken-2", onclick: 'confirm_cancel_order()' do %>
                  <i class="material-icons ">cancel</i><%= t "button.cancel" %>
                <% end %>
              </li>
            <% elsif !@order.has_transaction_paid and @order.status == 'cancelled' %>
              <li>
                <%= link_to reactivate_order_path(@order),  class: "green-text text-darken-2" do %>
                  <i class="material-icons ">settings_backup_restore</i><%= t "button.reactivate" %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= link_to invoice_order_path(@order), class: 'mr-2 btn-secondary btn waves-effect waves-light breadcrumbs-btn right' do %>
            <i class="material-icons hide-on-med-and-up">receipt</i>
            <span><%= t 'button.view_invoice' %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12">

    <% if can? :see_price, Order %>

      <div class="row mt-1" id="gradient-Analytics">
        <div class="col s12 m6 xl3 card-width">
          <a href="<%= costs_order_path(@order) %>">
            <div class="card row gradient-45deg-red-pink gradient-shadow white-text padding-4 mt-5">

              <div class="col s5 m5">
                <i class="material-icons background-round mt-5 mb-5 white-text">money_off</i>
              </div>
              <div class="col s7 m7 right-align">
                <h5 class="mb-0 white-text"><%= number_to_currency(@order.total_cost) %></h5>
                <p class="no-margin white-text"><%= t 'texts.order.cost' %></p>
              </div>

            </div>
          </a>
        </div>
        <div class="col s12 m6 xl3 card-width">
          <div class="card row gradient-45deg-amber-amber gradient-shadow white-text padding-4 mt-5">
            <div class="col s5 m5">
              <i class="material-icons background-round mt-5 mb-5">timeline</i>
            </div>
            <div class="col s7 m7 right-align">
              <h5 class="mb-0 white-text"><%= number_to_currency(@order.get_current_estimate.total ) %></h5>
              <p class="no-margin"><%= t 'activerecord.attributes.estimate.price' %></p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 xl3 card-width">
          <div class="card row gradient-45deg-indigo-light-blue gradient-shadow white-text padding-4 mt-5">
            <div class="col s5 m5">
              <i class="material-icons background-round mt-5 mb-5">update</i>
            </div>
            <div class="col s7 m7 right-align">
              <h5 class="mb-0 white-text"><%= number_to_currency(@order.transactions.where(status: :paid).sum(:value) ) %></h5>
              <p class="no-margin"><%= t 'texts.order.received' %></p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 xl3 card-width">
          <div class="card row gradient-45deg-green-teal gradient-shadow white-text padding-4 mt-5">
            <div class="col s5 m5">
              <i class="material-icons background-round mt-5 mb-5">attach_money</i>
            </div>
            <div class="col s7 m7 right-align">
              <h5 class="mb-0 white-text hide-numbers" id="profit-numbers"><%= number_to_currency(@profit) %></h5>
              <p class="no-margin"><%= t 'texts.profit' %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col s12 l9 pl-0 pr-0">

        <div class="col s12 pl-1">
          <div class="card-panel animate fadeRight border-radius-5">
            <div class="row">
              <div class="left width-100">
                <div class="col s12 m8">
                  <span class="left width-100"><span class="font-weight-600 black-text"><%= t 'created_at' %>:</span> <%= @order.created_at %></span>
                </div>
                <div class="col s12 m4">
                  <%= render partial: 'status', locals: {order: @order, classes: 'users-view-status display-inline right mt-0'} %>
                </div>
              </div>
              <div class="col s12 m6 xl7">
                <span class="font-weight-600 black-text"><%= t 'activerecord.models.customer' %>:</span> <%= link_to @order.current_estimate.customer, @order.current_estimate.customer %>
                <span class="left width-100"><span class="font-weight-600 black-text"><%= t 'activerecord.attributes.estimate.category' %>:</span>  <%= @order.current_estimate.category_text %></span>
              </div>
              <div class="col s12 m6 xl5">
                <% if can? :see_price, Order %>
                  <span class="left width-100"><span class="font-weight-600 black-text"><%= t 'activerecord.attributes.estimate.price' %>:</span> <%= number_to_currency @order.current_estimate.total %></span>
                  <span class="left width-100"><span class="font-weight-600 black-text"><%= t 'activerecord.attributes.estimate.tax' %>:</span> <%= number_to_currency @order.current_estimate.tax %> (<%= t("enumerize.estimate.taxpayer.#{@order.current_estimate.taxpayer}") if @order.current_estimate.taxpayer.present? %>)</span>
                <% end %>
              </div>
              <div class="col s12">
                <span class="left width-100"><span class="font-weight-600 black-text"><%= t 'activerecord.attributes.estimate.location' %>:</span> <%= @order.current_estimate.location %></span>
              </div>


              <div class="col s12 mt-1">
                <span><%= @order.current_estimate.description %></span>
              </div>


            </div>
          </div>
          <!-- Areas -->
          <%= render partial:'estimates/colapsible_area', locals: {estimate: @order.current_estimate} %>





          <div class="card-panel">
            <!-- Procuts and area -->
            <%= render partial:'estimates/areas_and_products', locals: {estimate: @order.get_current_estimate} %>

            <div class="row">
              <% if @order.get_current_estimate.measurement_areas.any? %>
                <div class="col m4 s12">
                  <!-- <p>Thanks for your business.</p> -->
                </div>
                <div class="col xl6 m8 s12 offset-xl6">
                  <% if can? :see_price, Order %>
                    <!--resumo-->
                    <%= render partial: 'estimates/financial_summary', locals: {estimate: @order.current_estimate} %>
                    <% end %>
                </div>
              <% else %>
                <div class="center">
                  <p><%= t 'texts.estimate.no_area_yet' %></p>
                </div>
              <% end %>
            </div>
            <!--  End products area -->
          </div>
        </div>
      </div>
      <div class="col s12 l3 pl-0 pr-0">
        <div class="row">
          <div class="col s12 card-width">
            <div class="card-panel pt-2 pl-4 pr-4">

              <h6 class="row mb-4 pl-4 pr-4"><%= t 'activerecord.models.schedule' %></h6>
              <% if @order.schedules.any? %>
                <div class="estimate-schedule-list">
                  <% @order.schedules.each do |schedule| %>
                    <div class="row border-radius-5 cyan lighten-5 mb-3">
                      <div class="col s3 pr-0 mt-2">
                        <% if schedule.worker.photo.present? %>
                          <img src="<%= schedule.worker.photo.url %>" alt="users view avatar" class="circle avatar-md avatar-status left tooltipped" data-tooltip="<%= schedule.worker.name %>">
                        <% end %>
                      </div>
                      <div class="col s9 pl-0">
                        <p class="mt-2 mb-2"><a class="black-text" href="#"><strong><%= t 'activerecord.models.schedule' %>:</strong> <%= schedule.start_at.strftime("%m/%d/%Y") %><br><%= schedule.start_at.strftime("%I:%M") %></a></p>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <div class="center">
                  <p><%= t 'no_schedule_yet' %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 card-width">
            <div class="card-panel estimates-order-list recent-orders-card animate fadeRight border-radius-5">
              <h6 class="mb-0 mt-0 mb-5"><%= t 'activerecord.models.estimates' %></h6>
              <ul class="collection estimate-schedule-list">
                <% @order.estimates.order(current: :desc).each do |estimate| %>
                  <li class="collection-item">
                    <p class="font-weight-600 mb-0 mt-0">
                      <%= link_to view_estimates_path(estimate) do %>
                        #<%= estimate.code %> <span class="medium-small mt-0 mb-0"><%= estimate.current? ? '(current)' : '' %></span></p>
                      <% end %>
                      </p>
                      </li>
                <% end %>
              </ul>

            </div>
          </div>
        </div>

        <div class="col s12 card-width">
          <div class="card row black-text padding-4 mt-3">
            <a href="#" class="sidenav-trigger" data-target="slide-out-right">
              <div class="col s5 m5">
                <i class="material-icons background-round mt-5 mb-5 green-text">description</i>
                <!-- <p>Orders</p> -->
              </div>
              <div class="col s7 m7 right-align">
                <h5 class="mb-0 black-text"><%= @order.document_files.count %></h5>
                <p class="no-margin black-text"><%= t 'documents' %></p>
                <!-- <p>6,00,00</p> -->
              </div>
            </a>
          </div>
        </div>

        <div class="col s12 l6 card-width pl-2">
          <div class="card mt-4">
            <a href="#" class="sidenav-trigger" data-target="slide-out-right">
              <div class="card-content center-align">
                <i class="material-icons amber-text small-ico-bg mb-5">note</i>
                <h4 class="m-0"><b><%= @order.notes.count %></b></h4>
                <p class="black-text"><%= t 'notes' %></p>
              </div>
            </a>
          </div>
        </div>
        <div class="col s12 l6 card-width pr-2">
          <div class="card mt-4">
            <a href="#">
              <div class="card-content pr-2 pl-2 center-align">
                <i class="material-icons blue-text small-ico-bg mb-5">settings</i>
                <h4 class="m-0"><b>0</b></h4>
                <p class="black-text"><%= t 'texts.processes' %></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="modal-mail" class="modal">
    <%= form_with url: send_grid_mail_estimate_path(@order.current_estimate), method: :get, local: true do |f| %>
      <div class="modal-content">
        <% if Setting.get_value("send_grid_key").present? %>
          <div class="row">
            <h4><%= t 'texts.send_email' %></h4>
          </div>
          <div class="row">
            <div class="input-field">
              <%= f.select :template, @templates, {prompt: true} %>
              <%= f.label :template %>
            </div>
            <div class="input-field">
              <%= f.label :emails, t('texts.emails') %>
              <%= f.text_field :emails, value: @email_customer, required: true %>
            </div>
            <div class="input-field">
              <%= f.label :subject %>
              <%= f.text_field :subject, required: true %>
            </div>
          </div>
        <% else %>
          <%= raw t :send_grid_warning %>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit,  class:"modal-action modal-close waves-effect waves-green btn-flat btn-send", target:"_self" do %>
          <i class="material-icons left">send</i> <%= t 'button.send' %>
        <% end if Setting.get_value("send_grid_key").present? %>
        <!--		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat btn-send"> <i class="material-icons left">send</i> Send</a>-->
      </div>
    <% end %>
  </div>

  <div id="modal-mail_document" class="modal">
    <%= form_with url: preview_documents_path, method: :get, local: true do |f| %>
      <div class="modal-content">
        <div class="row">
        <h4><%= t 'texts.send_document' %></h4>
        </div>
        <%= f.hidden_field :estimate, value: @order.current_estimate.id %>
        <%= f.hidden_field :send_mail, value: true,  id: "send_mail_text" %>
        <%= f.hidden_field :from, value: t('activerecord.models.order') %>
        <div class="row">
          <div class="col s10 m2">
            <p class="font-weight-600 left mr-5"><%= t "button.in_person" %></p>
          </div>
          <div class="col s2 m10">
            <div class="switch">
              <label>
                <%= f.check_box :redirect_to_sign, checked: false, id: "in_person", onchange: "in_person_fields()" %>
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <%= f.select :document, @documents, {prompt: true} %>
            <%= f.label :document %>
          </div>
        </div>
        <div class="row" id="documents-email-fields">
          <div class="input-field">
            <%= f.label :emails, t('texts.emails') %>
            <%= f.text_field :emails, value: @email_customer, required: true, id: "document-email" %>
          </div>
          <div class="input-field">
            <%= f.label :subject %>
            <%= f.text_field :subject, required: true, id: "document-subject" %>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <%= f.button :submit,  class:"modal-action modal-close waves-effect waves-green btn-flat btn-send", target:"_self" do %>
          <i class="material-icons left">send</i> <%= t 'button.send' %>
        <% end %>
        <!--		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat btn-send"> <i class="material-icons left">send</i> Send</a>-->
      </div>
    <% end %>
  </div>
  <%= render partial: 'layouts/sidenav_notes_docs', locals: {notes: @order.notes, documents: @order.document_files,  redirect_link: "#{order_path(@order)}"} %>


  <%= render "layouts/add_button", contact: false %>

  <div id="modal_note" class="modal modal-fixed-footer">
    <%= form_with url: new_note_order_path(@order),method: :get, local: true do |f| %>
      <div class="modal-content">
        <h4><%= t "button.new" %> <%= t "notes" %></h4>
        <%= render "customers/notes_form", f: f %>

      </div>
      <div class="modal-footer">
        <%= f.button :submit, class:"modal-action modal-close waves-effect waves-green btn-flat" do %>
          <i class="material-icons left">save</i><%= t "button.save" %>
        <% end %>
      </div>
    <% end  %>
  </div>

  <div id="modal_doc" class="modal modal-fixed-footer">
    <%= form_with url: new_document_order_path(@order), local: true do |f| %>
      <div class="modal-content">
        <div class="row">
        <h4><%= t "button.new" %> <%= t "documents" %></h4>
        </div>
        <%= render "customers/document_file_fields", f: f %>

      </div>
      <div class="modal-footer">
        <%= f.button :submit, class:"modal-action modal-close waves-effect waves-green btn-flat" do %>
          <i class="material-icons left">save</i><%= t "button.save" %>
        <% end %>
      </div>
    <% end  %>
  </div>

  <div id="modal_contact" class="modal modal-fixed-footer">
    <%= form_with url: new_contact_order_path(@order),method: :get, local: true do |f| %>
      <div class="modal-content">
        <h4><%= t "button.new" %> <%= t "contacts" %></h4>
        <%= render "customers/contact_fields", f: f %>

      </div>
      <div class="modal-footer">
        <%= f.button :submit, class:"modal-action modal-close waves-effect waves-green btn-flat" do %>
          <i class="material-icons left">save</i><%= t "button.save" %>
        <% end %>
      </div>
    <% end  %>
  </div>
</div>

  <%= content_for :scripts do %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        const profit = document.getElementById("profit-numbers")

        profit.addEventListener("click", function () {
            profit.classList.toggle("hide-numbers")
        })

        function confirm_cancel_order(){
            // debugger
            Swal.fire({
                title: '<%= t 'notice.order.confirme_cancel_order' %>',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '<%= t 'button.yes_i_want' %>',
                cancelButtonText: '<%= t 'button.cancel_sweetalert' %>',
                reverseButtons: true
            }).then(async (result) => {
                if (result.value) {
                    const url = "<%= cancel_order_path(@order) %>";
                    debugger
                    $.ajax({
                        url: url,
                        method: "GET",
                        dataType: 'json',
                        success: function () {
                            // debugger
                            Swal.fire(
                                '<%= t 'notice.canceled' %>!',
                                '<%= t 'notice.order.cancelled' %>',
                                'success'
                            ).then((result) => {
                                if (result.value) {
                                    document.location.reload(true)
                                }
                            })
                        },

                        error: function () {
                            // debugger
                            M.toast({
                                html: '<%= t 'notice.order.cancelled_error' %>'
                            });
                        }
                    });
                }
            })
        }

        function in_person_fields(){
            console.log('passou')
            if ($('#in_person').is(':checked')){
                $("#documents-email-fields").hide();
                $("#send_mail_text").val('false');
                $('#document-email').removeAttr('required');
                $('#document-subject').removeAttr('required');
            }else{
                $("#documents-email-fields").show();
                $("#send_mail_text").val('true');
                $('#document-email').addAttr('required');
                $('#document-subject').addAttr('required');
            }
        }

    </script>
  <% end %>

<!--js magnific-popup-->
<%= content_for :scripts do %>
  <script src="/materialize/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>

  <script>
      $('.open-gallery-link').click(function () {

          let items = [];
          $($(this).attr('href')).find('a').each(function () {
              items.push({
                  src: $(this).attr('href'),
                  title: $(this).attr('title')
              });
          });

          $.magnificPopup.open({
              items: items,
              closeOnContentClick: true,
              closeBtnInside: false,
              type: 'image',
              gallery: {enabled: true}
          });
      });
  </script>
<% end %>