<div class="row">
			<div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
			<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
				<!-- Search for small screen-->
				<div class="container">
					<div class="row">
						<div class="col s10 m6 l6">
							<h5 class="breadcrumbs-title mt-0 mb-0">Order #123</h5>
							<ol class="breadcrumbs mb-0">
								<li class="breadcrumb-item"><a href="index.html">Home</a>
								</li>
								<li class="breadcrumb-item"><a href="#">Orders</a>
								</li>
								<li class="breadcrumb-item active">View
								</li>
							</ol>
						</div>
						<div class="col s2 m6 l6">
							
							<a class="btn waves-effect waves-light breadcrumbs-btn right pink lighten-4 pink-text border-round" href="#"><i class="material-icons hide-on-med-and-up ">edit</i><span class="hide-on-small-only">Edit</span></a>
							<a class="btn waves-effect waves-light breadcrumbs-btn right pink mr-2 lighten-4 pink-text border-round" href="#"><i class="material-icons hide-on-med-and-up ">receipt</i><span class="hide-on-small-only">View invoice</span></a>
							<a class="btn waves-effect waves-light modal-trigger breadcrumbs-btn right mr-2 indigo border-round btn-send-email" href="#modal-invoice"><i class="material-icons hide-on-med-and-up ">send</i><span class="hide-on-small-only">Send invoice</span></a>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12">
			<div class="container">

								<div class="row mt-1" id="gradient-Analytics">
									<div class="col s12 m6 l3 card-width">
										<a href="order-cost.html">
										<div class="card row gradient-45deg-red-pink gradient-shadow white-text padding-4 mt-5">
											
											<div class="col s5 m5">
												<i class="material-icons background-round mt-5 mb-5 white-text">money_off</i>
											</div>
											<div class="col s7 m7 right-align">
												<h5 class="mb-0 white-text">$690</h5>
												<p class="no-margin white-text">Cost</p>
											</div>
											
										</div>
										</a>
									</div>
									<div class="col s12 m6 l3 card-width">
										<div class="card row gradient-45deg-amber-amber gradient-shadow white-text padding-4 mt-5">
											<div class="col s5 m5">
												<i class="material-icons background-round mt-5 mb-5">timeline</i>
											</div>
											<div class="col s7 m7 right-align">
												<h5 class="mb-0 white-text">$2000</h5>
												<p class="no-margin">Expected</p>
											</div>
										</div>
									</div>
									<div class="col s12 m6 l3 card-width">
										<div class="card row gradient-45deg-indigo-light-blue gradient-shadow white-text padding-4 mt-5">
											<div class="col s5 m5">
												<i class="material-icons background-round mt-5 mb-5">update</i>
											</div>
											<div class="col s7 m7 right-align">
												<h5 class="mb-0 white-text">$1885</h5>
												<p class="no-margin">Received</p>
											</div>
										</div>
									</div>
									
									<div class="col s12 m6 l3 card-width">
										<div class="card row gradient-45deg-green-teal gradient-shadow white-text padding-4 mt-5">
											<div class="col s5 m5">
												<i class="material-icons background-round mt-5 mb-5">attach_money</i>
											</div>
											<div class="col s7 m7 right-align">
												<h5 class="mb-0 white-text">$890</h5>
												<p class="no-margin">Profit</p>
											</div>
										</div>
									</div>
								</div>
				<div class="row">



					<div class="col s12 l9 pl-0 pr-0">

						<div class="col s12 pl-1">
							<div class="card-panel">
								<div class="row">

									<div class="col s12 m5">
										<span class="left width-100"><span class="font-weight-600 black-text">Created at:</span> <%= @order.created_at.strftime("%m/%d/%Y") %></span>
										<span class="left width-100"><span class="font-weight-600 black-text">Location:</span> <%= @order.get_current_estimate.location %></span>
										<span class="left width-100"><span class="font-weight-600 black-text">Category:</span> <%= @order.get_current_estimate.category %></span>
									</div>
									<div class="col s12 m5">
										<span class="left width-100"><span class="font-weight-600 black-text">Price:</span> $ <%= @order.purchase.product_purchases.sum(:value).to_f %></span>
										<span class="left width-100"><span class="font-weight-600 black-text">Tax:</span> $ <%= @order.get_current_estimate.tax.to_f %></span>
										<span class="left width-100"><span class="font-weight-600 black-text">Price + Tax:</span> 
                      $ <%= @order.purchase.product_purchases.sum(:value).to_f + @order.get_current_estimate.tax.to_f %>
                    </span>
									</div>
									<div class="col s12 m2">
										<span class=" users-view-status display-inline chip green lighten-5 green-text right">Current</span>
									</div>

									<div class="col s12 mt-1">
										<span><%= @order.get_current_estimate.description %></span>
									</div>


								</div>
							</div>
							<!-- Areas -->

							<ul class="collapsible">
                <li>
                  <div class="collapsible-header" tabindex="0"><i class="material-icons">select_all</i>Areas</div>
                  <div class="collapsible-body grey lighten-4 pl-2 pr-2 pt-2 pb-2">
                    <div class="row">
                      <% @order.get_current_estimate.measurement_areas.each do |ma| %>
                        <div class="col s12 l6">
                          <div class="card-panel pt-3 pb-3">
                            <div class="row center-align">
                              <h6
                                class="col s12 pl-0 pt-0 mt-0 font-weight-600 display-flex align-items-center justify-content-center">
                                <i class="material-icons left">event_seat</i>
                                <%= ma.name %>
                              </h6>
                              <%# <div class="row mb-2">
                                      <div class="col s12">
                                        Open kitchen included
                                      </div>
                                    </div> %>
                              <div class="col s4">
                                <!-- length -->
                                <i class="material-icons left width-100">straighten</i><%= ma.measurements[0].length %>
                              </div>
                              <div class="col s4">
                                <!-- width -->
                                <i class="material-icons left width-100" style="transform: rotate(-45deg)">straighten</i><%= ma.measurements[0].width %>
                              </div>
                              <div class="col s4">
                                <!-- height -->
                                <i class="material-icons left width-100" style="transform: rotate(-90deg)">straighten</i><%= ma.measurements[0].height %>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </li>
              </ul>


							<div class="card-panel">
                <!-- Procuts and area -->
                <% @order.get_current_estimate.measurement_proposals.distinct.each do |mp| %>
                  <div class="row">
                    <div class="col s12">
                      <div class="row pl-2 pr-2">
                        <span class="mr-1">Selected areas:</span>
                        <% mp.measurement_area.each do |ma| %>
                          <div class="chip blue white-text"><%= ma.name %></div>
                        <% end %>
                      </div>
                      <table class="striped responsive-table">
                        <thead>
                        <tr>
                          <th>Product</th>
                          <th>Qty</th>
                          <th>Price Unity</th>
                          <th>Discount</th>
                          <th class="right-align">Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% mp.product_estimates.each do |pe| %>
                          <tr>
                            <td><%= pe.product.name %></td>
                            <td><%= pe.quantity %></td>
                            <td><%= pe.unitary_value %></td>
                            <td><%= pe.discount %></td>
                            <td class=" right-align">$<%= pe.value %></td>
                          </tr>
                        <% end %>
                        <tr class="white">
                          <td class="right-align" colspan="100"><strong>Subtotal area:</strong><br>$<%= mp.product_estimates.sum(:value) %></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="divider mb-3 mt-3"></div>
                <% end %>

                <div class="row">
                  <div class="col m5 s12">
                    <!-- <p>Thanks for your business.</p> -->
                  </div>
                  <div class="col xl4 m7 s12 offset-xl3">
                    <ul>
                      <li class="display-flex justify-content-between">
                        <span class="invoice-subtotal-title">Subtotal</span>
                        <h6 class="mt-0">$<%= @order.get_current_estimate.get_subtotal %></h6>
                      </li>
                      <li class="display-flex justify-content-between">
                        <span class="invoice-subtotal-title">Discount</span>
                        <h6 class="mt-0">$ <%= @order.get_current_estimate.product_estimates.distinct(:id).sum(:discount).to_f %></h6>
                      </li>
                      <li class="display-flex justify-content-between">
                        <span class="invoice-subtotal-title">Tax</span>
                        <h6 class="mt-0">$ <%= @order.get_current_estimate.tax.to_f %></h6>
                      </li>
                      <li class="divider mt-2 mb-2"></li>
                      <li class="display-flex justify-content-between">
                        <span class="invoice-subtotal-title">Estimate Total</span>
                        <h6 class="mt-0">$ <%= @order.get_current_estimate.get_total_value %></h6>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--  End products area -->
              </div>
						</div>
					</div>
					<div class="col s12 l3 pl-0 pr-0">
            <div class="row">
              <div class="col s12 card-width">
                <div class="card-panel pt-2 pl-4 pr-4">

                  <h6 class="row mb-4 pl-4 pr-4">Schedule</h6>
                  <div class="estimate-schedule-list">
                    <% @order.schedules.each do |schedule| %>
                      <div class="row border-radius-5 cyan lighten-5 mb-3">
                        <div class="col s3 pr-0 mt-2">
                          <img src="<%= schedule.worker.photo.url ? schedule.worker.photo.url : "https://i.pravatar.cc/50"  %>" alt="users view avatar" class="circle avatar-md avatar-status left tooltipped" data-tooltip="<%= schedule.worker.name %>">
                        </div>
                        <div class="col s9 pl-0">
                          <p class="mt-2 mb-2"><a class="black-text" href="#"><strong>Schedule:</strong> <%= schedule.start_at.strftime("%m/%d/%Y") %><br><%= schedule.start_at.strftime("%I:%M") %></a></p>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s12 card-width">
              <div class="card row black-text padding-4 mt-3">
                <a href="#">
                  <div class="col s5 m5">
                    <i class="material-icons background-round mt-5 mb-5 green-text">description</i>
                    <!-- <p>Orders</p> -->
                  </div>
                  <div class="col s7 m7 right-align">
                    <h5 class="mb-0 black-text">6</h5>
                    <p class="no-margin black-text">Documents</p>
                    <!-- <p>6,00,00</p> -->
                  </div>
                </a>
              </div>
            </div>

            <div class="col s12 l6 card-width pl-2">
              <div class="card mt-4">
                <a href="#">
                  <div class="card-content center-align">
                    <i class="material-icons amber-text small-ico-bg mb-5">note</i>
                    <h4 class="m-0"><b>3</b></h4>
                    <p class="black-text">Notes</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col s12 l6 card-width pr-2">
              <div class="card mt-4">
                <a href="#">
                  <div class="card-content pr-2 pl-2 center-align">
                    <i class="material-icons blue-text small-ico-bg mb-5">settings</i>
                    <h4 class="m-0"><b>2</b></h4>
                    <p class="black-text">Processes</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
				</div>
			</div>
		</div>