<%= form_for(contact) do |f| %>
  <% if contact.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%= t('errors.template.header')  %>:</h5>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :category %>
    <%= f.text_field :category %>
    
  </div>

  <div class="input-field">

    <%= f.label :title %>
    <%= f.text_field :title %>
    
  </div>

  <div class="input-field">

    <%= f.label :value %>
    <%= f.text_field :value %>
    
  </div>

  <div class="input-field">

    <%= f.label :origin %>
    <%= f.text_field :origin %>
    
  </div>

  <div class="input-field">

    <%= f.label :origin_id %>
    <%= f.number_field :origin_id %>
    
  </div>

</div>
  <div class="actions">
    <%= f.submit t('button.save'), class:"btn" %>
  </div>
<% end %>
