<div class="card-panel">
  <%= form_with url: preview_documents_path(format: :pdf), method: :get, local: true do |f| %>
    <% if @estimate.present? %>
      <%= f.hidden_field :estimate, value: @estimate %>
    <% end %>
    <%= f.hidden_field :document, value: @document %>
    <%= f.hidden_field :send_mail, value: @send_mail %>
    <%= f.hidden_field :custom_send, value: true %>

    <%= f.fields_for :customs do |ff| %>
      <% @customs.each do |c| %>
        <div class="row">
          <div class="col s12">
            <div class="input-field">
              <%= ff.label c.to_sym %>
              <%= ff.text_field c.to_sym %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= f.submit "Send", class:"btn" %>
  <% end %>
</div>