<div class="login-card">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: "login-form"}) do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <h5 class=""><%= t 'texts.devise.sign_in' %></h5>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix pt-2">person_outline</i>
        <%= f.email_field :email, autocomplete: "email" %>
        <%= f.label :email %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix pt-2">lock_outline</i>
        <%= f.password_field :password, autocomplete: "current-password" %>
        <%= f.label :password %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 ml-1 mt-1">
        <% if devise_mapping.rememberable? %>
          <p>
            <label>
              <input type="checkbox" name="user[remember_me]" id="user_rememeber_me"/>
              <span><%= t :remember %></span>
            </label>
          </p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= button_tag t('texts.login'), type: 'submit', class: "btn waves-effect waves-light border-round indigo" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 m6 l6">

      </div>
      <div class="input-field col s6 m6 l6">
        <p class="margin right-align medium-small">
          <%= link_to t('texts.devise.forgot_password'), new_password_path(resource_name) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
