<%= f.fields_for :measurements do |m| %>
  <div class="m-area--measures">
    <div class="input-field col s12 m4 l2">
      <%= m.text_field :length, class: "validade" %>
      <%= m.label  :length %>
    </div>
    <div class="input-field col s12 m4 l2">
      <%= m.text_field :width, class: "validade" %>
      <%= m.label  :width %>
    </div>
    <div class="input-field col s12 m4 l2">
      <%= m.text_field :height, class: "validade" %>
      <%= m.label  :height %>
    </div>
  </div>
<% end %>