<%= content_for :body_class do "menu-collapse" end %>
<%= content_for :head_content do %>
  <link href='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
<% end %>
<div class="row">
  <div class="col s12 m3">
    <ul class="collapsible collapsible-accordion">
      <li>
        <div class="collapsible-header" tabindex="0"><i class="material-icons">mic_none</i> <%= t 'texts.document.estimate_or_order' %></div>
        <div class="collapsible-body white">

          <div class="chip drag-text"  draggable="true" data-value="w%{estimate.number}" >
            <i class="material-icons chip-icon">open_with</i>
            <%= t 'texts.number' %>
          </div>
          <div class="chip drag-text"  draggable="true" data-value="w%{estimate.value}" >
            <i class="material-icons chip-icon">open_with</i>
            <%= t 'texts.value' %>
          </div>
          <div class="chip drag-text" draggable="true" data-value="w%{estimate.value_with_tax}">
            <i class="material-icons chip-icon">open_with</i>
            <%= t 'texts.value_with_tax' %>
          </div>
          <div class="chip drag-text" draggable="true" data-value="w%{estimate.value_with_tax}">
            <i class="material-icons chip-icon">open_with</i>
            <%= t 'activerecord.attributes.estimate.tax' %>
          </div>
          <div class="chip drag-text" draggable="true" data-value="w%{estimate.value_with_tax}">
            <i class="material-icons chip-icon">open_with</i>
            <%= t 'texts.start_date' %>
          </div>
          <div class="chip drag-text" draggable="true" data-value="w%{estimate.value_with_tax}">
            <i class="material-icons chip-icon">open_with</i>
            <%= t 'texts.end_date' %>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header" tabindex="0"><i class="material-icons">mic_none</i> <%= t 'activerecord.models.customer' %></div>
        <div class="collapsible-body white">
          <div class="chip drag-text"  draggable="true" data-value="w%{estimate.number}" >
            <i class="material-icons chip-icon">open_with</i>
            <%= t 'activerecord.attributes.customer.name' %>
          </div>
          <div class="chip drag-text" draggable="true" data-value="w%{estimate.value_with_tax}">
            <i class="material-icons chip-icon">open_with</i>
            <%= t 'texts.customer.first_name' %>
          </div>
          <div class="chip drag-text" draggable="true" data-value="w%{estimate.value_with_tax}">
            <i class="material-icons chip-icon">open_with</i>
            <%= t 'texts.customer.last_name' %>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header" tabindex="0"><i class="material-icons">mic_none</i> <%= t 'texts.customer.partials' %></div>
        <div class="collapsible-body white">
          <div class="chip drag-text"  draggable="true" data-value="w%{estimate.number}" >
            <i class="material-icons chip-icon">open_with</i>
            <%= t 'texts.proposal' %>
          </div>
          <div class="chip drag-text" draggable="true" data-value="w%{estimate.value_with_tax}">
            <i class="material-icons chip-icon">open_with</i>
            <%= t 'areas' %>
          </div>
          <div class="chip drag-text" draggable="true" data-value="w%{estimate.value_with_tax}">
            <i class="material-icons chip-icon">open_with</i>
            <%= t 'texts.payments' %>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header" tabindex="0"><i class="material-icons">mic_none</i> <%= t 'texts.customer.customized_fields' %></div>
        <div class="collapsible-body white">
        </div>
      </li>
    </ul>
  </div>
  <div class="col s12 m9">
    <div class="card-panel">
      <div id="froala-editor">
        <h3><%= t 'texts.settings.click_here' %></h3>
        <p><%= t 'texts.settings.drag_the_image_or_text_block' %></p>
      </div>
    </div>
  </div>
</div>
<%= content_for :scripts do %>
  <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js'></script>
  <script>
      var dragCallback = function (e) {
          e.dataTransfer.setData('Text', this.dataset.value);
      };

      // For Firefox to work.
      $('.drag-text').each(function () {
          this.addEventListener('dragstart', dragCallback);
      });

      new FroalaEditor('div#froala-editor', {
          events: {
              initialized: function () {
                  var editor = this;

                  editor.events.on('drop', function (dropEvent) {
                      // Focus at the current posisiton.
                      editor.markers.insertAtPoint(dropEvent.originalEvent);
                      var $marker = editor.$el.find('.fr-marker');
                      $marker.replaceWith(FroalaEditor.MARKERS);
                      editor.selection.restore();

                      // Save into undo stack the current position.
                      if (!editor.undo.canDo()) editor.undo.saveStep();

                      // Insert HTML.
                      editor.html.insert(dropEvent.originalEvent.dataTransfer.getData('Text') );

                      // Save into undo stack the changes.
                      editor.undo.saveStep();

                      // Stop event propagation.
                      dropEvent.preventDefault();
                      dropEvent.stopPropagation();

                      // Firefox show cursor.
                      if (editor.core.hasFocus() && editor.browser.mozilla) {
                          editor.events.disableBlur();
                          setTimeout(function () {
                              editor.$el.blur().focus();
                              editor.events.enableBlur();
                          }, 0);
                      }

                      return false;
                  }, true);
              }
          }
      })
  </script>
<% end %>