<p><%= t 'texts.devise.hello' %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t 'texts.devise.your_email_is_being_changed_to' %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t 'texts.devise.your_email_has_been_changed_to' %> <%= @resource.email %>.</p>
<% end %>
