<p><%= t 'texts.devise.hello' %> <%= @resource.email %>!</p>

<p><%= t 'texts.devise.link_to_change_your_password' %></p>

<p><%= link_to t('texts.devise.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t 'texts.devise.didn_it_request_ignore_this_email' %></p>
<p><%= t 'texts.devise.password_won_it_change_until_you_access_link' %></p>
