<%= form_for(transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%= t('errors.template.header')  %>:</h5>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">

  <div class="input-field">
    <%= f.select :transaction_category_id, @categories,{ prompt: true}  %>
    <%= f.label  :transaction_category_id %>
  </div>

  <div class="input-field">
    <%= f.select :transaction_account_id, @accounts, {prompt: true}  %>
    <%= f.label  :transaction_account_id %>
  </div>


  <div class="input-field">
    <%= f.select :status, Transaction.status.options, {prompt: true}  %>
    <%= f.label  :status %>
  </div>

  <div class="input-field">


    <%= f.date_field :due %>
    <%= f.label  :due %>
  </div>

  <div class="input">
    <%= f.label  :effective %>
    <%= f.datetime_field :effective %>

  </div>

  <div class="input-field">

    <%= f.label  :value %>
    <%= f.number_field :value, required: true %>
    
  </div>


</div>
  <div class="actions">
    <%= f.submit t('button.save'), class:"btn" %>
  </div>
<% end %>
