<div class="content-wrapper-before woffice-color"></div>
<div class="breadcrumbs-lightpb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0"><span><%= t('activerecord.models.transactions') %></span></h5>
        <ol class="breadcrumbs mb-0">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      </div>
      <div class="col s2 m6 l6"><a class="btn waves-effect waves-light breadcrumbs-btn right border-round" href="<%= new_transaction_path %>"><i class="material-icons hide-on-med-and-up">add</i><span class="hide-on-small-only"><%= t("button.add")  %> <%= t('activerecord.models.transaction') %></span></a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="container">
      <div class="section">

        <div class="row" id="gradient-Analytics">

          <div class="col s12 m6 l3 card-width">
            <div class="card row blue-grey gradient-shadow white-text padding-4">
              <div class="col s5 m5">
                <i class="material-icons background-round mt-5 mb-5">format_list_numbered</i>
                <p class="no-margin">Balance</p>
              </div>
              <div class="col s7 m7 right-align">
                <h5 class="mb-0 white-text">
                  <%= @total_balance.present? ? number_to_currency(@total_balance[:value], :unit => '$') : '$0'%>
                </h5>
                <p class="no-margin">last 30 days</p>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l3 card-width">
            <div class="card row deep-orange gradient-shadow white-text padding-4">
              <div class="col s5 m5">
                <i class="material-icons background-round mt-5 mb-5">alarm_off</i>
                <p class="no-margin">Overdue</p>
              </div>
              <div class="col s7 m7 right-align">
                <h5 class="mb-0 white-text">
                  <%= number_to_currency(@overdue, :unit => '$') %>
                </h5>
                <p class="no-margin">last 30 days</p>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l3 card-width">
            <div class="card row blue darken-3 gradient-shadow white-text padding-4">
              <div class="col s5 m5">
                <i class="material-icons background-round mt-5 mb-5">receipt</i>
                <p class="no-margin">Open</p>
              </div>
              <div class="col s7 m7 right-align">
                <h5 class="mb-0 white-text">
                  <%= number_to_currency(@open, :unit => '$') %>
                </h5>
                <p class="no-margin">last 30 days</p>
              </div>
            </div>
          </div>


          <div class="col s12 m6 l3 card-width">
            <div class="card row green gradient-shadow white-text padding-4">
              <div class="col s5 m5">
                <i class="material-icons background-round mt-5 mb-5">attach_money</i>
                <p class="no-margin">Paid</p>
              </div>
              <div class="col s7 m7 right-align">
                <h5 class="mb-0 white-text">
                  <%= number_to_currency(@paid, :unit => '$') %>
                </h5>
                <p class="no-margin">last 30 days</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <table class="responsive-table transactions-table">
              <thead>
              <tr>
                <th>Source</th>
                <th>Transaction Category</th>
                <th>Account</th>
                <th>Origin</th>
                <th>Due</th>
                <th>Effective</th>
                <th>Status</th>
                <th>Value</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @transactions.each do |transaction| %>
                <tr>
                  <td>
                    <% if transaction.payment_method.present? %>
                      <% if transaction.payment_method.include?('square_credit') or transaction.payment_method.include?('square_installments') %>
                        <%= image_tag('square_name.svg', class: "square-logo") %>
                      <% else %>
                        <%= t(transaction.payment_method) %>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <% if transaction.transaction_category.present? %>
                      <div class="chip white-text" style="background-color: <%= transaction.transaction_category.color %>!important">
                        <%= transaction.transaction_category %>
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <% if transaction.transaction_account.present? %>
                      <div class="chip white-text" style="background-color: <%= transaction.transaction_account.color %>!important">
                        <%= transaction.transaction_account %>
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <% if transaction.order.present? %>
                      <%= link_to "Order ##{transaction.order}", order_path(transaction.order) %>
                    <% else %>
                      -
                    <% end %>
                  </td>
                  <td>
                    <%= transaction.due.present? ? transaction.due.strftime("%m/%d/%Y") : '-' %>
                  </td>
                  <td>
                    <%= transaction.due.present? ? transaction.due.strftime("%m/%d/%Y") : '-' %>
                  </td>
                  <td>
                    <%= transaction.status %>
                  </td>
                  <td>
                    <% if transaction.transaction_account.present? %>
                      <% if transaction.value.present? %>
                        <% if transaction.value > 0 %>
                            <span class="badge green-text lighten-5 green transaction-value"><i class="material-icons">keyboard_arrow_up</i>
                              <%= number_to_currency(transaction.value, :unit => '$') %>
                            </span>
                        <% else %>
                            <span class="badge red-text lighten-5 red transaction-value"><i class="material-icons">keyboard_arrow_down</i>
                              <%= number_to_currency(transaction.value, :unit => '$') %>
                            </span>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= paginate(@transactions) %>
    </div>
  </div>
</div>