<div class="content-wrapper-before woffice-color"></div>
<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0">
          <span><%= t('activerecord.models.transactions') %></span>
          <% if @filtered %>
            <span class="chip amber white-text">FILTERED</span>
          <% end %>
        </h5>
        <ol class="breadcrumbs mb-0">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      </div>
      <div class="col s2 m6 l6">
        <a class="btn waves-effect waves-light breadcrumbs-btn right border-round" href="<%= new_transaction_path %>"><i class="material-icons hide-on-med-and-up">add</i><span class="hide-on-small-only"><%= t("button.add")  %> <%= t('activerecord.models.transaction') %></span></a>
        <div class="mr-2 btn-secondary sidenav-trigger btn waves-effect waves-light breadcrumbs-btn right" data-target="slide-out-right"> Filter</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="container">
      <div class="section">

        <%= render 'finacials_cards' if !@filtered %>

        <div class="card">
          <div class="card-content">
            <table class="responsive-table transactions-table">
              <thead>
              <tr>
                <th>Source</th>
                <th>Transaction Category</th>
                <th>Account</th>
                <th>Origin</th>
                <th>Due</th>
                <th>Effective</th>
                <th>Status</th>
                <th>Value</th>
                <th></th>
                <th></th>

              </tr>
              </thead>
              <tbody>
              <% @transactions.each do |transaction| %>
                <tr>
                  <td>
                    <% if transaction.payment_method.present? %>
                      <% if transaction.payment_method.include?('square_credit') or transaction.payment_method.include?('square_installments') %>
                        <%= image_tag('square_name.svg', class: "square-logo") %>
                      <% else %>
                        <%= t(transaction.payment_method) %>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <% if transaction.transaction_category.present? %>
                      <div class="chip white-text" style="background-color: <%= transaction.transaction_category.color %>!important">
                        <%= transaction.transaction_category %>
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <% if transaction.transaction_account.present? %>
                      <div class="chip white-text" style="background-color: <%= transaction.transaction_account.color %>!important">
                        <%= transaction.transaction_account %>
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <% if transaction.order.present? %>
                      <%= link_to "Order ##{transaction.order}", order_path(transaction.order) %>
                    <% else %>
                      -
                    <% end %>
                  </td>
                  <td>
                    <%= transaction.due.present? ? transaction.due.strftime("%m/%d/%Y") : '-' %>
                  </td>
                  <td>
                    <%= transaction.due.present? ? transaction.due.strftime("%m/%d/%Y") : '-' %>
                  </td>
                  <td>
                    <%= transaction.status %>
                  </td>
                  <td>
                    <% if transaction.transaction_account.present? %>
                      <% if transaction.value.present? %>
                        <% if transaction.value > 0 %>
                            <span class="badge green-text lighten-5 green transaction-value"><i class="material-icons">keyboard_arrow_up</i>
                              <%= number_to_currency(transaction.value, :unit => '$') %>
                            </span>
                        <% else %>
                            <span class="badge red-text lighten-5 red transaction-value"><i class="material-icons">keyboard_arrow_down</i>
                              <%= number_to_currency(transaction.value, :unit => '$') %>
                            </span>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_transaction_path(transaction) do %>
                      <i class="material-icons">edit</i>
                    <% end %>
                  </td>

                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= paginate(@transactions) %>
    </div>
  </div>
</div>

<%= content_for :sidenav do %>
  <aside id="right-sidebar-nav">
    <div id="slide-out-right" class="slide-out-right-sidenav sidenav rightside-navigation right-aligned">
      <div class="row">
        <div class="slide-out-right-title">
          <div class="col s12 pl-3">
            <i class="material-icons right "><a href="#" target="_self" class="sidenav-close">clear</a></i>
            <h5>Filter</h5>
          </div>
        </div>
      </div>
      <div class="slide-out-right-body row pl-3 pr-3 ps">
        <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <div class="input-field">
            <%= f.select :transaction_category_id_eq, @categories,{ include_blank: true}  %>
            <%= f.label  :transaction_category_id %>
          </div>

          <div class="input-field">
            <%= f.select :transaction_account_id_eq, @accounts, {include_blank: true}  %>
            <%= f.label  :transaction_account_id %>
          </div>

          <div class="input-field">
            <%= f.select :status_eq, Transaction.status.options, {include_blank: true}  %>
            <%= f.label  :status %>
          </div>

          <div class="input-field">
            <%= f.date_field :due_gteq %>
            <%= f.label  :due, "Due >" %>
          </div>

          <div class="input-field">
            <%= f.date_field :due_lteq %>
            <%= f.label  :due_lteq , "Due <"%>
          </div>

          <div class="input-field">
            <%= f.date_field :effective_gteq %>
            <%= f.label  :effective, "Effective >" %>
          </div>

          <div class="input-field">
            <%= f.date_field :effective_lteq %>
            <%= f.label  :effective_lteq , "Effective <"%>
          </div>
          <div class="actions">
            <%= f.submit "Filter", class:"btn border-round" %>
            <%= link_to "Clear", transactions_path, class: "btn-flat" %>
          </div>
      <% end %>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
      </div>
    </div>
  </aside>

<% end %>