<div class="content-wrapper-before woffice-color"></div>
<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0">
          <span><%= t('activerecord.models.transactions') %></span>
          <% if @filtered %>
            <span class="chip amber white-text"><%= t('texts.filtered').upcase %></span>
          <% end %>
        </h5>
        <ol class="breadcrumbs mb-0">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      </div>
      <div class="col s2 m6 l6">
        <a class="btn waves-effect waves-light breadcrumbs-btn right border-round" href="<%= new_transaction_path %>"><i class="material-icons hide-on-med-and-up">add</i><span class="hide-on-small-only"><%= t("button.add")  %> <%= t('activerecord.models.transaction') %></span></a>
        <div class="mr-2 btn-secondary sidenav-trigger btn waves-effect waves-light breadcrumbs-btn right" data-target="slide-out-right"> <%= t 'button.filter' %></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="container">
      <div class="section">

        <%= render 'finacials_cards' if !@filtered %>

        <div class="card">
          <div class="card-content">
            <table class="responsive-table transactions-table">
              <thead>
              <tr>
                <th><%= t 'texts.source' %></th>
                <th><%= t 'activerecord.attributes.transaction.transaction_category' %></th>
                <th><%= t 'activerecord.models.account' %></th>
                <th><%= t 'texts.origin' %></th>
                <th><%= t 'bpm.due' %></th>
                <th><%= t 'activerecord.attributes.transaction.effective' %></th>
                <th><%= t 'status' %></th>
                <th><%= t 'activerecord.attributes.transaction.value' %></th>
                <th></th>
                <th></th>

              </tr>
              </thead>
              <tbody>
              <% @transactions.each do |transaction| %>
                <tr>
                  <td>
                    <% if transaction.payment_method.present? %>
                      <% if transaction.payment_method.include?('square_credit') or transaction.payment_method.include?('square_installments') %>
                        <%= image_tag('square_name.svg', class: "square-logo") %>
                      <% else %>
                        <%= t(transaction.payment_method) %>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <% if transaction.transaction_category.present? %>
                      <div class="chip white-text" style="background-color: <%= transaction.transaction_category.color %>!important">
                        <%= transaction.transaction_category %>
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <% if transaction.transaction_account.present? %>
                      <div class="chip white-text" style="background-color: <%= transaction.transaction_account.color %>!important">
                        <%= transaction.transaction_account %>
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <% if transaction.order.present? %>
                      <%= link_to "#{t'activerecord.models.order'} ##{transaction.order}", order_path(transaction.order) %>
                    <% else %>
                      -
                    <% end %>
                  </td>
                  <td>
                    <%= transaction.due.present? ? transaction.due.strftime("%m/%d/%Y") : '-' %>
                  </td>
                  <td>
                    <%= transaction.due.present? ? transaction.due.strftime("%m/%d/%Y") : '-' %>
                  </td>
                  <td>
                    <%= transaction.status %>
                  </td>
                  <td>
                    <% if transaction.transaction_account.present? %>
                      <% if transaction.value.present? %>
                        <% if transaction.value > 0 %>
                            <span class="badge green-text lighten-5 green text-darken-2 transaction-value"><i class="material-icons">keyboard_arrow_up</i>
                              <%= number_to_currency(transaction.value, :unit => '$') %>
                            </span>
                        <% else %>
                            <span class="badge red-text lighten-5 red transaction-value"><i class="material-icons">keyboard_arrow_down</i>
                              <%= number_to_currency(transaction.value, :unit => '$') %>
                            </span>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <div class="invoice-action right-align">
                      <%= link_to edit_transaction_path(transaction), class: 'invoice-action-edit mr-4' do %>
                        <i class="material-icons">edit</i>
                      <% end %>
                    </div>
                  </td>

                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <%= paginate(@transactions) %>
      </div>
    </div>
  </div>
</div>

<%= content_for :sidenav do %>
  <aside id="right-sidebar-nav">
    <div id="slide-out-right" class="slide-out-right-sidenav sidenav rightside-navigation right-aligned">
      <div class="row">
        <div class="slide-out-right-title">
          <div class="col s12 pl-3">
            <i class="material-icons right "><a href="#" target="_self" class="sidenav-close">clear</a></i>
            <h5><%= t 'button.filter' %></h5>
          </div>
        </div>
      </div>
      <div class="slide-out-right-body row pl-3 pr-3 ps">
        <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <div class="input-field">
            <%= f.select :transaction_category_id_eq, @categories,{ include_blank: t('texts.all')}, {}  %>
            <%= f.label  :transaction_category_id %>
          </div>

          <div class="input-field">
            <%= f.select :transaction_account_id_eq, @accounts, {include_blank: t('texts.all')}, {}  %>
            <%= f.label  :transaction_account_id %>
          </div>

          <div class="row">
            <%= f.label :status %>
          </div>
          <div class="row chip-selection mb-3">
            <% Transaction.status.options.each do |status| %>
              <label>
                <%= f.radio_button :status_eq, status[1], id: status[1], class: 'transaction_status filled-in' %>
                <span><%= status[0] %></span>
              </label>
            <% end %>
          </div>

          <div class="input-field col s6">
            <%= f.date_field :due_gteq %>
            <%= f.label  :due, "#{t'texts.due'} >" %>
          </div>

          <div class="input-field col s6">
            <%= f.date_field :due_lteq %>
            <%= f.label  :due_lteq , "#{t'texts.due'} <"%>
          </div>

          <div class="input-field col s6">
            <%= f.date_field :effective_gteq %>
            <%= f.label  :effective, "#{t'activerecord.attributes.transaction.effective'} >" %>
          </div>

          <div class="input-field col s6">
            <%= f.date_field :effective_lteq %>
            <%= f.label  :effective_lteq , "#{t'activerecord.attributes.transaction.effective'} <"%>
          </div>

          <div class="actions">
            <%= f.submit t('button.filter'), class:"btn border-round right" %>
            <%= link_to t('clear'), transactions_path, class: "btn-flat" %>
          </div>
      <% end %>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
      </div>
    </div>
  </aside>

<% end %>