<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%= t('errors.template.header')  %>:</h5>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel row">
  
  <div class="input-field col s12">

    <%= f.label  :name %>
    <%= f.text_field :name, required: true %>
    
  </div>

  <div class="input-field  col s12">

    <%= f.label  :uuid %>
    <%= f.text_field :uuid %>
    
  </div>

  <div class="input-field col s12">

    <%= f.label  :details %>
    <%= f.text_area :details, class:"materialize-textarea" %>
    
  </div>

  <div class="input-field col s6">
    <div class="row">
      <div class="col s10">
        <%= f.select :product_category_id, @categories, {prompt: true}, required: true  %>
        <%= f.label  :product_category_id %>
      </div>
      <div class="col s2">
        <a 
          class="btn btn-floating waves-effect indigo waves-light left modal-trigger tooltipped" 
          data-position="left" 
          data-tooltip="New category" 
          href="#category-add-modal">
            <i class="material-icons">playlist_add</i>
        </a>
      </div>
    </div>
    
  </div>

  <div class="input-field col s6">
    <div class="row">
      <div class="col s10">
        <%= f.select :supplier_id, @suppliers, {prompt: true}, required: true  %>
        <%= f.label  :supplier_id %>
      </div>
      <div class="col s2">
        <a 
          class="btn btn-floating waves-effect indigo waves-light left modal-trigger tooltipped" 
          data-position="left" 
          data-tooltip="New supplier" 
          href="#supplier-add-modal">
            <i class="material-icons">playlist_add</i>
        </a>
      </div>
    </div>
  </div>

  <div class="other-field col s12">
    <%= f.select :calculation_formula_id, @formulas, {prompt: true},class: 'select2 browser-default' %>
    <%= f.label  :calculation_formula_id %>

  </div>

  <div class="input-field col s6">

    <%= f.label  :customer_price %>
    <%= f.number_field :customer_price, min: 0, step: :any, required: true%>
    
  </div>

  <div class="input-field col s6">

    <%= f.label  :cost_price %>
    <%= f.number_field :cost_price, min: 0, step: :any, required: true%>
    
  </div>

  <div class="input-field col s12">

    <%= f.label  :area_covered %>
    <%= f.number_field :area_covered , min: 0, step: :any, required: true%>
    
  </div>

  <div class="file-field input-field col s12">
    <div class="btn">
      <span><%= f.label  :photo %></span>
      <%= f.file_field :photo %>
      <%= f.hidden_field :photo_cache %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
  <div class="other-field col s12 mb-2">
    <%= f.label :suggestion_ids %>
    <%= f.select :suggestion_ids, options_for_select(@products, product.suggestions.pluck(:suggestion_id)),{:include_hidden => false},{ multiple: true, class: "select2-size-sm browser-default"} %>
  </div>
  <div class="row">
    <div class="col s10 m2">
      <p class="font-weight-600 left mr-5"><%= t 'activerecord.attributes.product.tax' %></p>
    </div>
    <div class="col s2 m2">
      <div class="switch">
        <label>
          <!--                            <input name="width" id="width" type="checkbox" checked>-->
          <%= f.check_box :tax %>
          <span class="lever"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s10 m2">
      <p class="font-weight-600 left mr-5"><%= t 'texts.active' %></p>
    </div>
    <div class="col s2 m2">
      <div class="switch">
        <label>
          <!--                            <input name="width" id="width" type="checkbox" checked>-->
          <%= f.check_box :active %>
          <span class="lever"></span>
        </label>
      </div>
    </div>
  </div>




</div>
  <div class="actions row mt-1">
    <div class="col s12">
      <%= f.submit t('button.save'), class:"btn" %>
    </div>
  </div>
<% end %>

<%=  content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
      $( document ).ready(function() {
          $('.select2').select2({
              dropdownAutoWidth: true,
              width: '100%'
          });
          $('.select2-size-sm').select2({
              dropdownAutoWidth: true,
              width: '100%',
              containerCssClass: 'select-sm'
          });
      });
  </script>
<% end %>