<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0"><span><%= t('activerecord.models.product') %></span></h5>
        <ol class="breadcrumbs mb-0">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      </div>
      <div class="col s2 m6 l6">
        <%= link_to t('button.edit'), edit_product_path(@product), class:"btn waves-effect waves-light breadcrumbs-btn right" %>
        <%= link_to t('button.product_tag'), sticker_product_path(@product), target: :_blank, class: "mr-2 btn-secondary btn waves-effect waves-light breadcrumbs-btn right"  %>

      </div>
    </div>
  </div>
</div>

<div class="card-panel">
  <div class="row">
    <h5 class="mt-0 indigo-text hide-on-med-and-up center-align"><%= @product.name %></h5>
    <h6 class="product-desc--supplier hide-on-med-and-up center-align"><%= t('activerecord.attributes.product.supplier_id') %>: <span><%= @product.supplier %></span> </h6>
    <div class="col s12 m4 xl3 product-pic-card">
      <div class="product-pic">
        <% if @product.photo.present? %>
          <img src="<%= @product.photo.url %>" alt="">
      <% else %>
          <img src="/not-found.png" alt="">
      <% end %>
      </div>
      <p class="width-100 left mt-0 mb-2">
        <span class="font-weight-600 left"><%= t('activerecord.attributes.product.customer_price') %>:</span>
        <span class="right"><%= number_to_currency @product.customer_price %></span>
      </p>
      <p class="width-100 left mt-0 mb-2">
        <span class="font-weight-600 left"><%= t('activerecord.attributes.product.cost_price') %>:</span>
        <span class="right"><%= number_to_currency @product.cost_price %></span>
      </p>
      <p class="width-100 left mt-0 mb-2">
        <span class="font-weight-600 left"><%= t('activerecord.attributes.product.area_covered') %>:</span>
        <span class="right"><%= @product.area_covered %> sqft</span>
      </p>
      <p class="width-100 left mt-0 mb-2">
        <span class="font-weight-600 left"><%= t('activerecord.attributes.product.tax') %>:</span>
        <span class="right"><%= t(@product.tax) %></span>
      </p>
    </div>
    <div class="col s12 m8 xl9 product-desc">
      <h5 class="mt-0 indigo-text hide-on-small-only"><%= @product.name %></h5>
      <h6 class="product-desc--supplier hide-on-small-only"><%= t('activerecord.attributes.product.supplier_id') %>: <span><%= @product.supplier %></span> </h6>
      <div class="row">
        <div class="col">
          <h6><%= t('activerecord.attributes.product.product_category_id') %></h6>
          <span class="chip"><%= @product.product_category %></span>
        </div>
        <div class="col">
          <h6><%= t('activerecord.attributes.product.calculation_formula_id') %></h6>
          <span class="chip"><%= @product.calculation_formula %></span>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h6><%= t 'description' %></h6>
          <span><%= @product.details %></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-panel">
  <h4 class="header2"><%= t('product.quick_estimate') %></h4>
  <div class="row">
    <div class="col s12 m6">
      <div class="row">
        <div class="col s3">
          <label>Width</label>
          <input type="number" step="any" id="w-field" onfocusout="calc_formula()">
        </div>
        <div class="col s3">
          <label>Length</label>
          <input type="number" step="any" id="l-field" onfocusout="calc_formula()">
        </div>
        <div class="col s3">
          <label>Height</label>
          <input type="number" step="any" id="h-field" onfocusout="calc_formula()">
        </div>
        <div class="col s3">
          <label>SqFt</label>
          <input type="number" step="any" id="s-field" onfocusout="calc_formula()">
        </div>
      </div>
    </div>
    <div class="col s12 m2"><br>
      <a class="btn"><i class="material-icons" onclick="calc_formula()">check</i></a>
    </div>
    <div class="col s6 m2">
      <label>Qty</label>
      <input type="number" step="any" id="qty-field" value="1" onkeyup="qtyChange()" onfocusout="qtyChange()">
    </div>
    <div class="col s6 m2">
      <label>Price</label>
      <input type="number" step="any" id="price-field" disabled=" true" value="<%= @product.customer_price %>">
    </div>
  </div>
</div>

<%= content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    function qtyChange(){
        qty = $('#qty-field').val() * <%= @product.customer_price %>
        $('#price-field').val(qty)
    }

    function calc_formula(){
        area = ($('#w-field').val() || 0 ) * ($('#l-field').val() || 0);
        $('#s-field').val(area);
         var data = $.ajax({
            dataType: "json",
            url: '<%= quick_estimate_product_path(@product) %>',
            data: {
                width: $('#w-field').val(),
                lenght: $('#l-field').val(),
                height: $('#h-field').val(),
                area: $('#s-field').val(),
            },
            success: updateQty
        });
    }

    function updateQty(data){
        console.log(data)
        $('#qty-field').val(data.quantity)
        qtyChange();
    }
  </script>
<% end %>




