<%= form_for(supplier) do |f| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%= t('errors.template.header')  %>:</h5>

      <ul>
      <% supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
    
  </div>

  <div class="input-field">

    <%= f.label :description %>
    <%= f.text_area :description, class:"materialize-textarea" %>
    
  </div>

  <div class="switch">
    Active
    <label>

      <!--                            <input name="order_need_sign" id="order_need_sign" type="checkbox" checked>-->
      <%= f.check_box :active %>
      <span class="lever"></span>

    </label>
  </div>



</div>
  <div class="actions">
    <%= f.submit t('button.save'), class:"btn right" %>
  </div>
<% end %>
