<% if Setting.banner_object.present? %>
  <!-- header-document -->
  <div class="row header-document">
    <%= wicked_pdf_image_tag "#{Setting.banner}"  %>
  </div>
<% else %>
  <div class="row mt-3 invoice-logo-title">
    <div class="invoice-logo">
      <img src="<%= Setting.url %>/settings/company_logo" alt="logo" class="responsive-img" style="max-width: 150px !important;">
    </div>
    <div class="invoice-title">
      <div class="invoice-address">
        <span class="black-text"><strong><%= Setting.get_value("company_full_name") %></strong></span>
      </div>
      <div class="invoice-address">
        <span><%= Setting.get_value("company_address") %></span>
      </div>
      <div class="invoice-address">
        <span><%= Setting.get_value("company_email") %></span>
      </div>
      <div class="invoice-address">
        <span><%= Setting.get_value("company_phone") %></span>
      </div>
    </div>
  </div>
<% end %>