<%= content_for :sidenav do %>
  <aside id="right-sidebar-nav">
    <div id="slide-out-right" class="slide-out-right-sidenav sidenav rightside-navigation right-aligned">
      <div class="row">
        <div class="slide-out-right-title">
          <div class="col s12 pl-3">
            <i class="material-icons right "><a href="#" target="_self" class="sidenav-close">clear</a></i>
            <h5>Notes</h5>
          </div>
        </div>
      </div>
      <div class="slide-out-right-body row pl-3 pr-3 ps">
        <% notes.each do |note| %>
          <div class="note">
            <%= link_to  note_path(note, redirect: "#{redirect_link}"), method: :delete, class:"btn-delete-note" do %>
              <i class="material-icons">delete</i>
            <% end %>
            <h6 class="note-title"><%= note.title %></h6>
            <p class="note-content"><%= raw note.text %></p>
          </div>
        <% end %>

        <% if notes.blank? %>
          <div class="note">
            <p class="note-content">No Notes Registered!</p>
          </div>
        <% end %>



        <!-- Exemple document -->
        <div class="col s12 pl-0">
          <h5>Documents</h5>
        </div>
        <% documents.each do |doc| %>
          <%= link_to doc.file.url, target:"_blank" do %>
            <div class="document">
              <span class="doc-type"><%= doc.file.file.extension %></span>
              <span class="doc-date" title="Created at"><%= doc.created_at %></span>
              <%= doc.title %>
            </div>
          <% end if doc.file.present? %>
        <% end %>

        <% if documents.blank? %>
            <p class="document">No Documents Registered!</p>
        <% end %>

        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
    </div>
  </aside>

<% end %>